.filter-form {
  position: relative;

  @include respond-to-max($resp_l) {
    //padding-bottom: 90px;
    padding-bottom: 40px;
  }
}

.filter-container {
  @extend %clearfix;

  @include respond-to-min($resp_l) {
    margin-left: -9px;
    margin-bottom: 5px;
  }

  &._adv-filter {
    display: none;
  }

  &._smpl-filter {

  }
}

._adv-filter_border {
  margin-left: 9px;
  border-top: 1px dashed #ccc;
}

.filter-cell {
  margin-top: 9px;

  &._col-1,
  &._col-2,
  &._col-4 {
    @extend %clearfix;
  }

  @include respond-to-min($resp_l) {
    float: left;
    padding-left: 9px;

    &._col-1 {
      width: 32%;
    }

    &._col-2 {
      width: 68%;
    }

    &._col-3 {
      width: 16%;
    }

    &._col-4 {
      width: 36%;
    }

    &._col-5 {
      width: 52%;
    }
  }
}

.smpl-search_cell {

}

.adv-search_cell {

  //@include respond-to-max($resp_l) {
  //  position: absolute;
  //  bottom: 0;
  //  right: 0;
  //  left: 0;
  //}
}

.form-cell.adv-search_box {
  padding: 8px 0 0;

  @include respond-to-max($resp_l) {
    text-align: center;
    padding: 10px 0 12px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.adv-search_link {
  @extend %icon_pseudo;
  position: relative;
  padding-left: 17px;
  white-space: nowrap;
  font-size: 14px;

  &:before {
    content: $i-sort;
    position: absolute;
    left: 0;
    top: 50%;
    height: 16px;
    font-size: 14px;
    line-height: 16px;
    margin-top: -8px;
  }

  &.changed {

    &:before {
      content: $i-arrow-up;
    }
  }
}

.complex-view {

  &_map-holder {
    position: relative;
    height: 265px;
    overflow: hidden;

    @include respond-to-min($resp_step_2) {
      height: 610px;
      margin-right: 320px;
    }
  }

  &_list {
    background: $gl_white;

    @include respond-to-min($resp_step_2) {
      width: 320px;
      float: right;
      height: 610px;
      margin-top: -610px;
    }

    &-info {
      padding: 8px 10px;

      .complex-block_content-head > p {
        font-size: 13px;
      }

      .complex-block_retings {
        p {
          margin-top: 7px;
        }
      }

      .complex-block_options {
        margin-bottom: 10px;
      }

      .complex-block_content {
        position: relative;
        padding-bottom: 10px;
        margin-top: 10px;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: -12px;
          height: 1px;
          background: $gl_gray_lines;

          @include respond-to-min($resp_step_2) {
            right: -24px;
            left: -24px;
          }
        }

        &:first-child {
          margin-top: 0;

          &:before {
            display: none;
          }
        }
      }

      @include respond-to-min($resp_step_2) {
        height: 422px;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 12px 24px;

        &._full-h {
          height: 610px;
        }
      }
    }
  }

  &_switcher {
    line-height: 34px;
    background: #eee;
    border-bottom: 1px solid #d4d4d4;

    @include respond-to-max($resp_l) {
      line-height: 28px;
    }

    @include respond-to-max($resp_step_2) {
      line-height: 26px;

      .filter-item .gl_link {
        font-size: 14px;
      }
    }
  }

  &_tab-icon {
    font-size: 20px;
    margin-right: 6px;
  }

  &_tabs {
    float: left;

    .filter-item {
      float: left;
    }

    .gl_link {
      text-decoration: none;
      text-transform: uppercase;
    }

    &-holder {
      @extend %clearfix;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 32px;
        right: -30px;
        left: -30px;
        border-bottom: 1px solid #d4d4d4;

        @include respond-to-min($resp_step_2) {
          top: 44px;
        }

        @include respond-to-min($content-max-w) {
          top: 100%;
        }
      }

      @include respond-to-max($content-max-w) {

        .filter-list {
          padding-top: 3px;
        }

        .complex-view_sort {
          padding-top: 5px;
          line-height: 30px;
        }

        .complex-view_sort,
        .complex-view_tabs {
          float: none;
        }

        .btn_v1.filter_btn {
          height: 35px;
          line-height: 35px;
        }
      }

      &._footer_mode {
        padding-top: 10px;
        margin-top: 18px;

        &:before {
          top: 0;
        }
      }

      @include respond-to-min($resp_step_2) {
        .complex-view_sort {

          .complex-view_sort-item {
            padding-right: 14px;
          }
        }
      }

      @include respond-to-min($content-max-w) {

        .filter-item {
          padding-right: 62px;
        }

        .complex-view_sort {
          margin-right: 35px;
        }
      }
    }
  }

  &_sort {
    float: right;
    line-height: 1;

    &-select {

    }

    &-toggle {
      position: relative;
      padding-right: 20px;
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      margin-left: 30px;
      color: $default_t_color;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 3px;
        margin-top: -2px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #354353;
      }

      &._desc {
        &:before {
          border-bottom: 5px solid #354353;
          border-top: 0;
        }
      }
    }
  }
}

.complex-tag {
  border-radius: 2px;
  padding: 0 12px;
  background: #eee;
}

.status-tip {
  line-height: 1;

  @include respond-to-min($resp_step_2) {
    font-size: 13px;
    margin-top: -5px;
  }
}

.complex-block {
  @extend %clearfix;
  background: #fff;

  @include respond-to-max($resp_step_2) {
    position: relative;
    font-size: 13px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: -10px;
      left: -10px;
      height: 1px;
      background: $gl_gray_lines;
    }
  }

  @include respond-to-min($resp_step_2) {
    -webkit-transition: padding 0.3s 0.1s;
    -ms-transition: padding 0.3s 0.1s;
    transition: padding 0.3s 0.1s;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    border: 1px solid $gl_gray_lines;
    padding-right: 30px;
    min-height: 211px;
    margin: 0 -30px 9px;

    &:last-child {
      margin-bottom: 25px;
    }

    &:first-child {
      margin-top: 10px;
    }

    &._object-mode {
      min-height: 0;
    }
  }

  &_promo {
    padding-top: 17px;
    border-top: 1px solid $gl_gray_lines;

    p {
      line-height: 1.8;
      margin-bottom: 10px;
      letter-spacing: .01em;
    }
  }

  &_status {
    font-size: 14px;

    &-item {
      padding-left: 15px;

      &.mob_ver-1 {

        @include respond-to-max($resp_step_2) {
          position: absolute;
          left: 10px;
          top: 90px;
          font-size: 18px;
        }
      }
    }

    @include respond-to-min($resp_step_2) {
      .complex-block & {
        text-align: right;
      }
    }

    @include respond-to-min($resp_l) {
      .complex-block & {
        float: right;
        max-width: 200px;
        margin-bottom: 10px;
      }
    }

    @include respond-to-max($resp_step_2) {
      ._object-mode & {
        font-size: 13px;
      }
    }
  }

  &_tags {
    @extend %clearfix;
    font-size: 12px;
    padding-top: 10px;
    margin-left: -12px;

    @include respond-to-max($resp_l) {
      font-size: 11px;
    }

    ._object-mode & {

      @include respond-to-max($resp_step_2) {
        padding-top: 0;
      }
    }

    li {
      float: left;
      padding-left: 12px;
      margin-bottom: 8px;
    }

    @include respond-to-min($resp_step_2) {
      //margin-right: 210px;
    }

    @include respond-to-min($resp_l) {
      //float: left;
      padding-top: 0;
      //margin-right: 0;
    }
  }

  &_info {
    @extend %clearfix;
    line-height: 26px;

    @include respond-to-min($resp_step_2) {
      margin-top: 12px;
    }
  }

  &_price-val {
    font-size: 16px;
    font-weight: 700;

    @include respond-to-min($resp_step_2) {
      font: 21px $FontfabricMullerRegular;
      position: absolute;
      top: 14px;
      right: 30px;

      ._object-mode & {
        top: 29px;
      }
    }
  }

  &_price-list {
    font-size: 13px;
    overflow: hidden;
    margin-bottom: 10px;

    dd {
      float: right;
      background: #fff;
      position: relative;
      z-index: 1;
      width: 170px;
      margin-right: -3px;
      padding: 0 3px;
      margin-bottom: 5px;
    }

    dt {
      clear: both;
      margin-bottom: 5px;
      float: left;
      position: relative;

      &:after {
        content: '.................................................................................................................................................................................................................................';
        position: absolute;
        left: 100%;
        margin-left: 3px;
        bottom: 0;
      }
    }
  }

  &_prices {
    //@extend %clearfix;
    font-size: 13px;
    float: left;
    overflow: hidden;
    width: 65%;
    letter-spacing: .015em;

    li {
      margin-bottom: 2px;

      &._has_dot {
        &:before {
          content: '\2022';
          padding: 0 6px;
          color: #b3b3b3;
        }
      }

      @include respond-to-max($resp_step_2) {

        ._object-mode & {
          line-height: 20px;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }

    .breadcrumbs_section & {
      float: none;
      width: auto;

      li {
        display: inline-block;
        vertical-align: middle;
        margin: 7px 0;

        &:first-child {
          &:before {
            display: none;
          }
        }
      }
    }

    @include respond-to-min($resp_l) {
      float: none;
      width: auto;

      .complex-block & {
        li {
          display: inline-block;
          vertical-align: middle;
          margin-bottom: 5px;

          &:first-child {
            &:before {
              display: none;
            }
          }
        }
      }
    }
  }

  &_retings {

    .complex-block & {
      float: right;
      width: 35%;
      text-align: right;
      margin-top: -3px;

      .company-unit_rating {
        margin-right: -7px;
      }
    }

    @include respond-to-min($resp_l) {

      .complex-block & {
        position: absolute;
        right: 0;
        bottom: 100%;
        width: 250px;
        margin-top: 0;
        padding-bottom: 6px;

        p {
          margin-bottom: 7px;
        }
      }
    }
  }

  &_links {
    @extend %clearfix;
    padding-top: 5px;

    li {
      margin-bottom: 2px;

      @include respond-to-min($resp_step_2) {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 5px;

        &:before {
          content: '\2022';
          padding: 0 8px;
          color: #b3b3b3;
        }

        &:first-child {
          &:before {
            display: none;
          }
        }
      }
    }

    .complex-view_list-info & {

      li {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 5px;

        &:before {
          content: '\2022';
          padding: 0 8px;
          color: #b3b3b3;
        }

        &:first-child {
          &:before {
            display: none;
          }
        }
      }
    }
  }

  &_slider {

    .slick-prev,
    .slick-next {
      display: none !important;
    }

    &-pagination {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 8px;

      .slick-dots {
        display: table !important;
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;

        li {
          display: table-cell;
          border: 1px solid #d7d7d7;
          //border-top: 0;

          &.slick-active {
            button {
              background: #de2223;
              cursor: default;
            }
          }
        }

        button {
          @include transition_all(background .3s);
          cursor: pointer;
          height: 6px;
          display: block;
          width: 100%;
          font-size: 0;
          border: 1px solid $gl_white;
          background: $gl_white;
        }
      }
    }

    .slide {
      img {
        display: inline-block;
        vertical-align: top;
        width: 100%;
      }
    }
  }

  &_content {

    @include respond-to-min($resp_step_2) {

      .complex-block & {
        margin-left: 275px;
        //display: inline-block;
        //vertical-align: top;
      }

      ._object-mode & {
        margin-left: 233px;
      }
    }

    &-head {

      .complex-block & {
        padding-top: 14px;

        @include respond-to-max($resp_step_2) {
          font-size: 12px;
        }

        @include respond-to-min($resp_l) {
          padding-right: 260px;
        }
      }

      ._object-mode & {
        @include respond-to-min($resp_step_2) {
          padding-top: 22px;
          padding-bottom: 12px;
        }
      }

      p {
        margin-bottom: 3px;
        letter-spacing: .01em;
      }
    }

    &-body {
      @extend %clearfix;
      position: relative;

      @include respond-to-min($resp_l) {
        &:after {
          display: none;
        }
      }

      ._object-mode & {

        @include respond-to-min($resp_step_2) {
          min-height: 45px;
        }
      }
    }

    &-footer {

      > p {
        font-size: 13px;
        margin-bottom: 12px;
        letter-spacing: .01em;

        .complex-view_list-info & {
          color: #848484;
        }
      }

      @include respond-to-max($resp_step_2) {
        padding-top: 5px;
        padding-bottom: 7px;

        > p {
          display: none;

          .complex-view_list-info & {
            display: block;
          }
        }
      }
    }

    &._alone {
      padding: 8px 0 0;

      .complex-block_option {
        margin-bottom: 4px;
      }

      @include respond-to-max($resp_step_2) {
        .complex-block_option {
          float: left;
        }

        .fav_link {
          float: right;
        }
      }

      @include respond-to-min($resp_step_2) {
        padding: 14px 24px 0;

        .complex-block_content-head p {
          margin-bottom: 7px;
        }

        .fav_link span:first-child {
          font-size: 18px;
        }
      }
    }

    &-similar {
      position: relative;
      padding: 10px 0;
      clear: both;

      &:after,
      &:before {
        content: '';
        position: absolute;
        right: -24px;
        left: -24px;
        border-top: 1px solid $gl_gray_lines;
      }

      &:before {
        top: 0;
        display: none;
      }

      &:after {
        bottom: 0;
      }

      @include respond-to-min($resp_step_2) {
        padding-top: 25px;
        padding-bottom: 15px;
        margin-top: 20px;

        &:before {
          display: block;
        }
      }
    }
  }

  &_gallery {
    position: relative;
    float: left;
    width: 75px;
    margin: 16px 14px 10px 0;

    @include respond-to-max($resp_step_2) {
      .backstretch {
        display: none;
      }
    }

    @include respond-to-min($resp_step_2) {
      //margin: 0 -275px -1px 0;
      padding-bottom: 7px;
      width: 250px;

      position: absolute;
      margin: 0;
      top: 0;
      left: 0;
      bottom: 0;

      .slick-slide,
      .slick-track,
      .slick-list,
      .slick-slider {
        height: 100% !important;
      }

      .full_height {
        height: 100%;
        position: relative;

        img {
          display: none;
          //position: absolute;
          //min-height: 100%;
          //top: 50%;
          //left: 50%;
          //-webkit-transform: translate(-50%, -50%);
          //-ms-transform: translate(-50%, -50%);
          //transform: translate(-50%, -50%);
        }
      }
    }

    &-single {
      height: 178px;
      position: relative;
      padding-bottom: 7px;
      overflow: hidden;

      //.slick-track {
      //  min-height: 100%;        
      //  height: 100% !important;
      //}
      //
      //.slick-slider,
      //.slick-list {
      //  min-width: 100%;
      //  min-height: 100%;
      //  height: 100% !important;
      //}
      //
      //.slick-slide {
      //  min-width: 100%;
      //  overflow: hidden;
      //}

      @include respond-to-min($resp_step_2) {

      }
    }
  }

  &_object-img {
    position: relative;
    float: left;
    width: 70px;
    margin: 17px 15px 65px 0;

    img {
      display: block;
      max-width: 100%;
    }

    @include respond-to-min($resp_step_2) {
      margin: 0 -233px 0 0;
      width: 232px;
      padding: 26px;
    }
  }

  .company-unit_logo-block {
    width: 90px;
    margin-top: -10px;
    margin-left: -10px;
  }

  &_caption {

    @at-root span#{&} {
      font: 16px/20px $FontfabricMullerRegular;
      letter-spacing: .01em;

      a {
        color: $default_t_color;

        &:hover {
          text-decoration: underline;
        }
      }

      @include respond-to-min($resp_step_2) {
        font-size: 18px;
        line-height: 22px;
      }
    }

    @at-root a#{&} {
      font: 16px/20px $FontfabricMullerRegular;
      color: $gl_blue;

      &:hover {
        text-decoration: underline;
      }

      @include respond-to-min($resp_step_2) {
        font-size: 26px;
        line-height: 30px;
      }
    }
  }

  &_option {

    &-icon {
      color: $gl_turquoise;
      font-size: 18px;
      margin-right: 4px;

      @include respond-to-min($resp_step_2) {
        font-size: 20px;
        margin-right: 6px;
      }
    }
  }

  &_options {
    //@extend %clearfix;
    font-size: 13px;
    overflow: hidden;
    line-height: 18px;
    margin-left: -4px;
    padding-bottom: 4px;
    //clear: both;

    li {
      float: left;
      padding-left: 4px;

      .complex-block & {
        margin: 6px 0 10px;
      }

      .complex-view_list-info & {
        margin-bottom: 5px;
      }
    }

    @include respond-to-min($resp_step_2) {
      margin-left: -9px;
      font-size: 14px;
      padding-bottom: 0;

      li {
        padding-left: 9px;
      }
    }
  }
}

.region_list {

  li {
    margin-bottom: 3px;
  }

  &-caption {
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 12px;
    letter-spacing: .1em;

    &._empty {
      display: none;

      @include respond-to-min($resp_l) {
        display: block;
      }
    }
  }

  &-holder {
    margin-right: -4%;
    font-size: 0;
    line-height: normal;

    @include respond-to-min($resp_step_2) {
      padding-top: 5px;
    }
  }

  &-col {
    @extend %clearfix;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    font-size: 14px;
    line-height: 1;

    @include respond-to-min($resp_step_2) {
      width: 32%;
    }

    @include respond-to-min($resp_l) {
      width: 20%;

      &._wide {
        width: 40%;
      }
    }

    @include respond-to-min($resp_l + 200) {
      width: 16%;

      &._wide {
        width: 32%;
      }
    }
  }

  &-unit {
    @include respond-to-min($resp_l) {
      ._wide & {
        float: left;
        width: 50%;
      }
    }
  }
}
