@font-face {
  font-family: 'FontfabricMullerBold';
  src: url('../fonts/FontfabricMullerBold.eot?pas94b');
  src: url('../fonts/FontfabricMullerBold.eot?pas94b#iefix') format('embedded-opentype'),
  url('../fonts/FontfabricMullerBold.ttf?pas94b') format('truetype'),
  url('../fonts/FontfabricMullerBold.woff?pas94b') format('woff'),
  url('../fonts/FontfabricMullerBold.svg?pas94b#quartiroom_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontfabricMullerRegular';
  src: url('../fonts/FontfabricMullerRegular.eot?pas94b');
  src: url('../fonts/FontfabricMullerRegular.eot?pas94b#iefix') format('embedded-opentype'),
  url('../fonts/FontfabricMullerRegular.ttf?pas94b') format('truetype'),
  url('../fonts/FontfabricMullerRegular.woff?pas94b') format('woff'),
  url('../fonts/FontfabricMullerRegular.svg?pas94b#quartiroom_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

