
.footer {
  background: $default_t_color;
  padding: 25px 0;
  color: $gl_gray_light;
  font-size: 13px;
  line-height: 1.4;

  @include respond-to-min($resp_s) {
    padding: 28px 30px;
    line-height: 1.5;
  }
}

.footer-about {

  @include respond-to-min($resp_step_2) {
    margin-bottom: 50px;
    padding-right: 55px;
  }

  &_block {
    @include respond-to-min($resp_l) {
      float: left;
      width: 30%;
    }
  }

  &_menu {
    @extend %clearfix;
    margin-left: -31px;
    margin-bottom: 10px;

    @include respond-to-min($resp_step_2) {
      margin-bottom: 35px;
    }

    li {
      float: left;
      margin-bottom: 10px;
      padding-left: 31px;
    }

    .gl_link {
      color: $gl_white;
      font-weight: 600;
    }
  }
}

.footer-copyright {
  margin-bottom: 10px;
  padding-right: 15px;
  //display: table-footer-group;

  @include respond-to-min($resp_s) {
    float: left;
    width: 30%;
    //display: block;
    margin-bottom: 0;
  }

  @include respond-to-min($resp_l) {
    padding-right: 0;
  }
}

.footer-menu_holder {

  .main-menu {
    float: none;
    margin-bottom: 25px;
  }

  .main-menu_item {
    border: none;
    width: 49%;
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 25px;
  }

  @include respond-to-min($resp_step_2) {
    .main-menu_item {
      width: 24%;
    }
  }

  @include respond-to-min($resp_l) {
    float: left;
    width: 70%;
    margin-bottom: 0;
  }

  .main-menu_sub-menu .gl_link {
    color: $gl_gray_light;
    font-size: 13px;
  }

  .main-menu_item > .gl_link {
    color: $gl_white;
    font-size: 14px;
    padding: 0;
  }
}

.footer-adds {
  letter-spacing: .015em;
  margin-bottom: 22px;
  //display: table-header-group;

  @include respond-to-min($resp_step_2) {
    float: left;
    //padding-left: 16px;
    width: 40%;
  }

  @include respond-to-min($resp_l) {
    padding-left: 36px;
    width: 50%;
  }
}

.footer-copyright_holder {
  @extend %clearfix;
  clear: both;
  //display: table;

  @include respond-to-min($resp_step_2) {
    //display: block;
  }
}

.footer_counters {
  @extend %clearfix;

  li {
    float: left;
    margin-top: 5px;
    padding-right: 10px;
  }

  img {
    display: block;
    max-width: 100%;
  }

  @include respond-to-min($resp_step_2) {
    float: right;
  }

  @include respond-to-min($resp_l) {
    min-width: 165px;
  }
}

.rur {
  font-family: $PTRoubleSans;
}

._wnw {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mob_hidden {
  @include respond-to-max($mob_menu_w) {
    display: none !important;
  }

  .show_all & {
    display: block !important;
  }
}

.mob_only {
  display: none;

  @include respond-to-max($mob_menu_w) {
    display: initial !important;
  }
}

.mob_vis {

  @include respond-to-min($resp_step_2) {
    display: none;
  }
}

.mob_invis {

  @include respond-to-max($resp_step_2) {
    display: none;
  }
}

._mob_if_opened {

  @include respond-to-max($resp_step_2) {
    display: none;
    margin-bottom: 10px;

    .opened & {
      display: block;
    }
  }
}

.tablet_hidden {
  @include respond-to-max($resp_l) {
    display: none !important;
  }
}

.dt_hidden {
  @include respond-to-min($mob_menu_w) {
    display: none !important;
  }
}

.dt_fr {
  @include respond-to-min($mob_menu_w) {
    float: right;
  }
}

// todo remove
#chromeperfectpixel-supported-by {
  display: none !important;
}