
.footer {
  background: $default_t_color;
  padding: 25px 0;
  color: $gl_gray_light;
  font-size: 13px;
  line-height: 1.4;

  @include respond-to-min($resp_s) {
    padding: 28px 30px;
    line-height: 1.5;
  }
}

.footer-about {

  @include respond-to-min($resp_step_2) {
    margin-bottom: 50px;
    padding-right: 55px;
  }

  &_block {
    @include respond-to-min($resp_step_2) {
      float: left;
      width: 30%;
    }
  }

  &_menu {
    @extend %clearfix;
    margin-left: -31px;
    margin-bottom: 10px;

    @include respond-to-min($resp_step_2) {
      margin-bottom: 35px;
    }

    li {
      float: left;
      margin-bottom: 10px;
      padding-left: 31px;
    }

    .gl_link {
      color: $gl_white;
      font-weight: 600;
    }
  }
}

.copyright {
  margin-bottom: 10px;
  //display: table-footer-group;

  @include respond-to-min($resp_s) {
    float: left;
    width: 30%;
    //display: block;
    margin-bottom: 0;
  }
}

.footer-menu_holder {
  float: left;
  width: 70%;

  .main-menu {
    float: none;
  }

  .main_m_item {
    border: none;
    width: 25%;
    margin-top: -5px;
  }

  .sub-menu .gl_link {
    color: $gl_gray_light;
    font-size: 13px;
  }

  .main_m_item > .gl_link {
    color: $gl_white;
    font-size: 14px;
    padding: 0;
  }
}

.footer_adds {
  letter-spacing: .015em;
  margin-bottom: 22px;
  //display: table-header-group;

  @include respond-to-min($resp_step_2) {
    float: left;
    //display: block;
    padding-left: 36px;
    margin-bottom: 0;
    width: 50%;
  }
}

.footer-copyright_holder {
  @extend %clearfix;
  clear: both;
  //display: table;

  @include respond-to-min($resp_step_2) {
    //display: block;
  }
}

.footer_counters {
  @extend %clearfix;

  li {
    float: left;
    margin-top: 5px;
    padding-right: 10px;
  }

  img {
    display: block;
    max-width: 100%;
  }

  @include respond-to-min($resp_step_2) {
    float: right;
    min-width: 165px;
  }
}

.rur {
  font-family: $PTRoubleSans;
}

.mob_hidden {
  @include respond-to-max($mob_menu_w) {
    display: none !important;
  }
}

.tablet_hidden {
  @include respond-to-max($resp_l) {
    display: none !important;
  }
}

.dt_hidden {
  @include respond-to-min($mob_menu_w) {
    display: none !important;
  }
}

// todo remove
#chromeperfectpixel-supported-by {
  display: none !important;
}