.inp-hidden {
  display: none;
}

.input_w {
  position: relative;
}

.select-multi-v1 {
  .select2-selection__rendered {
    @extend %icon_pseudo;
    position: relative;
    height: 40px;
    cursor: pointer;

    &:before {
      @extend %translate3d;
      @include transition_all(color .3s, transform .3s);
      position: absolute;
      font-size: 14px;
      line-height: 16px;
      height: 16px;
      top: 50%;
      margin-top: -8px;
      right: 9px;
      content: $i-chevron-down;
      color: #c5c5c5;
      transform-origin: 50% 50%;
    }

    .select2-selection__choice {
      display: none;
    }

    &:hover {
      &:before {
        color: $gl_black_000;
      }
    }
  }

  .select2-container--default .select2-search--inline {
    max-width: 100%;

    > span {
      display: block;
      max-width: 100%;
      //padding-left: 10px;
      overflow: hidden;
      white-space: nowrap;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }

    .select2-search__field {
      margin-top: 0;
      font: 14px/16px $OpenSans;
      max-width: 100%;
      width: 100% !important;

      &::-moz-placeholder {
        color: $default_t_color;
      }

      &::-webkit-input-placeholder {
        color: $default_t_color;
      }
    }
  }

  .select2-selection--multiple {
    height: 40px;
  }

  &._bordered .select2-selection--multiple {
    border: 1px solid #d4d4d4;
  }

  .select2-container {
    &.select2-container--open {
      .select2-selection--multiple {
        border-color: transparent;
        box-shadow: 0 1px 10px rgba(0, 0, 0, .2);
      }
    }
  }

  &._no-bdr .select2-selection--multiple {
    border: none !important;
  }

  .select2-results__options .select2-results__option {
    @extend %icon_pseudo;
    position: relative;
    padding-left: 24px;
    float: left;

    &:before {
      @include transition_all(border .3s, background .3s);
      content: '';
      position: absolute;
      left: 5px;
      top: 50%;
      width: 14px;
      height: 14px;
      margin-top: -7px;
      background: $gl_white;
      color: $gl_white;
      border: 1px solid #c9c9c9;
      border-radius: 2px;
      text-align: center;
    }

    &[aria-selected=true] {
      background: none;

      &:before {
        content: $i-check-thin;
        font-size: 12px;
        background: $gl_turquoise;
        border-color: $gl_turquoise;
      }
    }

    &:hover {

    }

    &.select2-results__message {
      padding-left: 14px;

      &:before {
        display: none;
      }
    }
  }

  .select2-results__option--highlighted[aria-selected] {
    background: none;
    color: $default_t_color;

    &:before {
      border-color: $gl_black_000;
    }
  }

  .select2-container--open {
    .select2-selection__rendered {

      &:before {
        @include transform_rotate(180);
      }

      .select2-selection--single {
        border-color: transparent;
        box-shadow: 0 1px 10px rgba(0, 0, 0, .2);
      }
    }
  }
}

._ganged-triple {
  @extend %clearfix;
  margin-right: -1%;
}

.select-box-v1 {

  .select2-container--default {
    .select2-selection__rendered {
      @include transition_all(color .3s);
      font-size: 14px;
      color: $default_t_color;
      padding: 0 34px 0 14px;
      line-height: 40px;
    }

    .select2-selection__placeholder {

    }

    .select2-selection--single {
      background: $gl_white;
      border: none;
      height: 40px;

      &:hover {

        .select2-selection__rendered {
          color: $gl_black_000;
        }

        .select2-selection__arrow:before {
          color: $gl_black_000;
        }
      }
    }

    .select2-selection__arrow {
      @extend %icon_pseudo;
      height: 38px;

      &:before {
        @extend %translate3d;
        @include transition_all(color .3s, transform .3s);
        position: absolute;
        font-size: 14px;
        line-height: 16px;
        height: 16px;
        top: 50%;
        margin-top: -8px;
        right: 9px;
        content: $i-chevron-down;
        color: #c5c5c5;
        transform-origin: 50% 50%;
      }

      b {
        display: none;
      }
    }
  }

  &._bordered {
    .select2-container--default {
      .select2-selection--single {
        border: 1px solid #d4d4d4;
      }
    }
  }

  &._s-33 {
    float: left;
    width: 33%;
  }

  &._s-50 {
    float: left;
    width: 40%;

    &:first-child {
      width: 60%;
    }

    @include respond-to-min($resp_step_2) {
      width: 50% !important;
    }
  }

  &._ganged-first {
    .select2-container--default {
      .select2-selection--single {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  &._ganged-mid {
    margin-left: -1px;

    .select2-container--default {
      .select2-selection--single {
        border-radius: 0;
      }
    }
  }

  &._ganged-last {
    margin-left: -1px;

    .select2-container--default {
      .select2-selection--single {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  .select2-container {
    &.select2-container--open {
      .select2-selection--single {
        border-color: transparent;
        box-shadow: 0 1px 10px rgba(0, 0, 0, .2);
      }

      .select2-selection__arrow {
        &:before {
          @include transform_rotate(180);
        }
      }
    }
  }

  .placeholder {
    color: #848484;
  }
}

.select-box-v2 {

  .select2-container--default {
    .select2-selection__rendered {
      @include transition_all(color .3s);
      font-size: 14px;
      color: $default_t_color;
      padding: 0 20px 0 6px;
      line-height: 30px;

      @include respond-to-min($resp_step_2) {
        line-height: 38px;
      }

    }

    .select2-selection__placeholder {

    }

    .select2-selection--single {
      background: none;
      border: none;
      height: 28px;

      @include respond-to-min($resp_step_2) {
        height: 36px;
      }

      &:hover {
        background: $gl_white;

        .select2-selection__rendered {
          color: $gl_black_000;
        }

        .select2-selection__arrow:before {
          color: $gl_black_000;
        }
      }
    }

    .select2-selection__arrow {
      @extend %icon_pseudo;
      height: 30px;

      @include respond-to-min($resp_step_2) {
        height: 38px;
      }

      &:before {
        @extend %translate3d;
        @include transition_all(color .3s, transform .3s);
        position: absolute;
        font-size: 12px;
        line-height: 16px;
        height: 16px;
        top: 50%;
        margin-top: -8px;
        right: 1px;
        content: $i-chevron-down;
        color: #354353;
        transform-origin: 50% 50%;
      }

      b {
        display: none;
      }
    }
  }

  &._bordered {
    .select2-container--default {
      .select2-selection--single {
        border: 1px solid #d4d4d4;
      }
    }
  }

  &._s-50 {
    float: left;
    width: 40%;

    &:first-child {
      width: 60%;
    }

    @include respond-to-min($resp_step_2) {
      width: 50% !important;
    }
  }

  &._ganged-first {
    .select2-container--default {
      .select2-selection--single {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  &._ganged-last {
    margin-left: -1px;

    .select2-container--default {
      .select2-selection--single {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  .select2-container {
    &.select2-container--open {
      .select2-selection--single {
        border-color: transparent;
        background: $gl_white;
        box-shadow: 0 1px 10px rgba(0, 0, 0, .2);
      }

      .select2-selection__arrow {
        &:before {
          @include transform_rotate(180);
        }
      }
    }
  }

  .placeholder {
    color: #848484;
  }
}

.select-box-v3 {

  .select2 {
    display: none !important;
  }

  .select2-container--default {
    .select2-selection__rendered {
      @include transition_all(color .3s);
      font-size: 14px;
      color: $default_t_color;
      padding: 0 20px 0 6px;
      line-height: 30px;

      @include respond-to-min($resp_step_2) {
        line-height: 38px;
      }

    }

    .select2-selection__placeholder {

    }

    .select2-selection--single {
      background: none;
      border: none;
      height: 28px;

      @include respond-to-min($resp_step_2) {
        height: 36px;
      }

      &:hover {
        background: $gl_white;

        .select2-selection__rendered {
          color: $gl_black_000;
        }

        .select2-selection__arrow:before {
          color: $gl_black_000;
        }
      }
    }

    .select2-selection__arrow {
      @extend %icon_pseudo;
      height: 30px;

      @include respond-to-min($resp_step_2) {
        height: 38px;
      }

      &:before {
        @extend %translate3d;
        @include transition_all(color .3s, transform .3s);
        position: absolute;
        font-size: 12px;
        line-height: 16px;
        height: 16px;
        top: 50%;
        margin-top: -8px;
        right: 1px;
        content: $i-chevron-down;
        color: #354353;
        transform-origin: 50% 50%;
      }

      b {
        display: none;
      }
    }
  }

  &._bordered {
    .select2-container--default {
      .select2-selection--single {
        border: 1px solid #d4d4d4;
      }
    }
  }

  &._s-50 {
    float: left;
    width: 40%;

    &:first-child {
      width: 60%;
    }

    @include respond-to-min($resp_step_2) {
      width: 50% !important;
    }
  }

  &._ganged-first {
    .select2-container--default {
      .select2-selection--single {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  &._ganged-last {
    margin-left: -1px;

    .select2-container--default {
      .select2-selection--single {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  .select2-container {
    top: 100% !important;
    left: 50% !important;
    margin-left: -50px;

    &.select2-container--open {
      .select2-selection--single {
        border-color: transparent;
        background: $gl_white;
        box-shadow: 0 1px 10px rgba(0, 0, 0, .2);
      }

      .select2-selection__arrow {
        &:before {
          @include transform_rotate(180);
        }
      }
    }
  }

  .placeholder {
    color: #848484;
  }
}

.dropdown-v2 {
  border-width: 0;
  box-shadow: 0 1px 10px rgba(0, 0, 0, .2);

  .select2-results__option {
    padding: 6px;
  }
}

.dropdown-v1 {
  border-width: 0;
  box-shadow: 0 1px 10px rgba(0, 0, 0, .2);

  .select2-results__option {
    padding: 6px 14px;
  }

  &.dropdown-control {

    .dropdown-block {
      background: $gl_white;
      border-radius: 0 0 4px 4px;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    }

    .dropdown-val {
      @extend %icon_pseudo;
      background: $gl_white;
      height: 40px;
      line-height: 40px;
      border-radius: 4px;
      padding: 0 34px 0 14px;
      position: relative;
      cursor: pointer;

      &:before {
        @extend %translate3d;
        @include transition_all(color .3s, transform .3s);
        position: absolute;
        font-size: 14px;
        line-height: 16px;
        height: 16px;
        top: 50%;
        margin-top: -8px;
        right: 9px;
        content: $i-chevron-down;
        color: #c5c5c5;
        transform-origin: 50% 50%;
      }

      &:hover {
        &:before {
          color: $gl_black_000;
        }
      }
    }

    &.opened {
      .dropdown-val {
        border-radius: 4px 4px 0 0;

        &:before {
          @include transform_rotate(180);
        }
      }
    }
  }
}

.select-search-v1 {
  .select2-search {
    position: absolute;
    right: 30px;
    left: 0;
    height: 40px;
    border-radius: 4px;

    .select2-search__field {
      border: none;
      padding: 9px 10px;
      font: 14px/16px $OpenSans;
      max-width: 100%;
      background: $gl_white;
    }
  }

  .select2-dropdown--below {
    .select2-search {
      bottom: 100%;
    }
  }

  .select2-dropdown--above {
    .select2-search {
      top: 100%;
    }
  }
}

.form-row {
  @extend %clearfix;
}

.form-cell {
  position: relative;
}

.input_w {

}

.f_input {
  display: block;
  width: 100%;

  &.input-v1 {
    height: 40px;
    border-radius: 4px;
    background: $gl_white;
    padding: 10px 14px;
    color: $default_t_color;
    font: 14px/20px $OpenSans;

    &._bordered {
      border: 1px solid #d4d4d4;
      padding: 9px 14px;
    }
  }

  &.input-v2 {
    border: 1px solid #d4d4d4;
    height: 34px;
    border-radius: 4px;
    padding: 6px 14px;
    background: $gl_white;
    color: $default_t_color;
    font: 14px/20px $OpenSans;
  }

  &.input-v3 {
    border: none;
    background: none;
    color: $default_t_color;
    font: 14px $OpenSans;
  }

  &._h-112 {
    height: 85px;

    @include respond-to-min($resp_step_2) {
      height: 112px;
    }
  }
}

.dropdown-control {
  position: relative;
}

.dropdown-block {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  display: none;
  z-index: 1;

  .opened & {
    display: block;
  }
}

.check-emul {

  &._check-v1 {

    .check-text {
      @extend %icon_pseudo;
      padding-left: 20px;
      cursor: pointer;

      &:before {
        @include transition_all(border .3s, background .3s);
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 14px;
        height: 14px;
        margin-top: -7px;
        background: $gl_white;
        color: $gl_white;
        border: 1px solid #c9c9c9;
        border-radius: 2px;
        text-align: center;
      }

      &:hover {
        &:before {
          border-color: $gl_black_000;
        }
      }
    }

    .inp-hidden:checked ~ .check-text {

      &:before {
        content: $i-check-thin;
        font-size: 12px;
        background: $gl_turquoise;
        border-color: $gl_turquoise;
      }
    }
  }

  &._check-v2 {

    .check-text {
      @include transition_all(color .3s, background .3s);
      display: block;
      cursor: pointer;
      height: 38px;
      line-height: 38px;
      padding: 0 2px;
      text-align: center;

      &:hover {
        color: $gl_black_000;
      }
    }

    .inp-hidden:checked ~ .check-text {
      color: $gl_white;
      background: $gl_turquoise;
    }
  }

  &._check-v3 {
    display: inline-block;
    vertical-align: top;
    margin-left: -7px;
    cursor: pointer;

    .check-text {
      border-radius: 3px;
      padding: 2px 7px;
      @include transition_all(background .3s, color .3s);
    }

    .inp-hidden:checked ~ .check-text {
      color: $gl_white;
      background: $gl_turquoise;
    }
  }

  &._check-v4 {
    cursor: pointer;
    text-transform: uppercase;

    ._icon-on {
      display: none;
    }

    ._icon-off,
    ._icon-on {
      color: $gl_turquoise;
      font-size: 32px;
      margin-right: 3px;
    }

    .check-text {
      @include transition_all(background .3s, color .3s);
      border-radius: 3px;
      line-height: 19px;
      padding: 0 3px;
      position: relative;

      &:before {
        @include transition_all(border .3s);
        content: '';
        position: absolute;
        left: 50%;
        top: 100%;
        margin-left: -7px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 6px solid transparent;
      }

      @include respond-to-min($resp_step_2) {
        line-height: 40px;
        padding: 0 8px;
        letter-spacing: .05em;
      }
    }

    .inp-hidden:checked {
      ~ .check-text {
        color: $gl_white;
        background: $gl_turquoise;

        &:before {
          border-top: 6px solid $gl_turquoise;

          @include respond-to-max($resp_step_2) {
            display: none;
          }
        }

        ._icon-off {
          display: none;
        }

        ._icon-on {
          display: inline-block;
          vertical-align: middle;
          color: $gl_white;
        }
      }
    }
  }
}

.check-text {
  position: relative;
  display: block;
}

.radio-group {
  display: table;
  width: 100%;
  border-radius: 4px;
  border: 1px solid $gl_gray_lines;

  &._fixed-cell {
    table-layout: fixed;
  }

  .check-emul {
    display: table-cell;
    border-left: 1px solid $gl_gray_lines;

    &:first-child {
      border-left: 0;
    }
  }

}

.toddler-v1 {
  padding: 4px 4px 0;

  .noUi-base {
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -2px;
      right: 0;
      left: 0;
      height: 4px;
      background: #d4d4d4;
    }
  }

  .noUi-origin.noUi-background,
  .noUi-connect,
  .noUi-target {
    border: none;
    background: none;
    box-shadow: none;
  }

  .noUi-connect {
    height: 100%;
  }

  .noUi-origin {
    border-radius: 0;
    bottom: auto;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -2px;
      right: 0;
      left: 0;
      height: 4px;
      background: #d4d4d4;
    }

    &:first-child {

      &:before {
        background: $gl_turquoise;
      }
    }

  }

  .noUi-pips {
    position: absolute;
    bottom: 0;
    right: 1px;
    left: 1px;
  }

  .noUi-marker,
  .noUi-value {
    position: absolute;
    font-size: 0;
    bottom: -4px;
    margin-left: -1px;
    width: 2px;
    height: 2px;
    border-radius: 100%;
  }

  .noUi-handle {
    cursor: pointer;
    z-index: 1;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 0;
    margin-left: -9px;
    background: $gl_turquoise;
    border: none;
    box-shadow: none;
    pointer-events: all;

    &:after,
    &:before {
      display: none;
    }

    &.noUi-handle-lower {

    }

    &.noUi-handle-upper {

    }
  }
}

.toddler-val {

  .toddler-val-v1 & {
    text-align: center;
    border-radius: 4px;
    height: 40px;
    padding: 10px 5px;
    line-height: 18px;
    border: 1px solid $gl_gray_lines;

    > span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      position: relative;
      z-index: 2;
      padding: 0 2px;
    }

    .start,
    .end {
      cursor: pointer;
    }

    .label {
      color: #848484;
    }

    .end {

    }

  }

}

.toddler-range {
  @extend %clearfix;
  font-size: 10px;
  padding: 0 4px;

  .max {
    float: right;
  }

  .min {
    float: left;
  }

}