.hero {

  &_block {
    position: relative;

  }

  &_search {
    margin: 0 auto;
    max-width: 1070px;

    .form_cell {
      margin-bottom: 5px;
    }

    @include respond-to-min($resp_step_2) {
      margin-bottom: 95px;

      .form_row {
        margin-left: -10px;
      }

      .form_cell {
        float: left;
        padding-left: 10px;

        &.cell-s1 {
          width: 25%;
        }
        &.cell-s2 {
          width: 31.5%;
        }
        &.cell-s3 {
          width: 18.5%;
        }
      }
    }

  }

  &_scroll {
    width: 200px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -100px;
    text-align: center;
    font-size: 11px;
    color: $gl_white;
    padding-bottom: 65px;

    .gl_link {
      @extend %icon_pseudo;
      cursor: pointer;
      position: absolute;
      width: 32px;
      left: 50%;
      font-size: 32px;
      margin-left: -16px;
      bottom: 3px;
      text-decoration: none;
      color: $gl_white;

      &:before {
        content: $i-chevron-thin-down;
      }

    }

    @include respond-to-min($resp_step_2) {
      font-size: 16px;
      padding-bottom: 80px;

      .gl_link {
        bottom: 15px;
      }
    }
  }

  &_slogan {
    text-align: center;
    color: $gl_white;
    margin-bottom: 23px;
    letter-spacing: .085em;
  }

  &_title {
    text-align: center;
    color: $gl_white;
    font: 21px/1.3 $FontfabricMullerRegular;
    margin-bottom: 40px;
    letter-spacing: .01em;

    @include respond-to-min($resp_step_2) {
      font-size: 40px;
      line-height: 1.4;
      margin-bottom: 42px;
    }
  }

  &_content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 70px;

    @include respond-to-min($resp_step_2) {
      padding: 100px 0;
    }
  }

  &_img {
    position: relative;
    min-height: 460px;

    @include respond-to-min($resp_step_2) {
      min-height: 725px;
    }

    img {
      display: block;
      max-width: 100%;
    }
  }
}

.features-list {
  @extend %clearfix;

  &_holder {
    max-width: $content-max-w + 40;
    padding: 0 20px;
    margin: 0 auto;
  }

  li {
    margin-top: 10px;
  }

  @include respond-to-min($resp_l) {
    margin-right: -1%;

    li {
      float: left;
      width: 33%;
      margin-top: 25px;
    }
  }
}

.feature-unit {
  position: relative;
  text-align: center;

  p {
    font: 16px/20px $FontfabricMullerRegular;
    letter-spacing: -.03em;
    margin-bottom: 20px;

    @include respond-to-min($resp_step_2) {
      font: 18px/24px $FontfabricMullerRegular;
      letter-spacing: 0.01em;
      margin-bottom: 10px;
    }
  }
}

.feature-logo {
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 5px;
  max-width: 155px;

  img {
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative;
  }

  @include respond-to-min($resp_step_2) {
    margin-bottom: 30px;
    max-width: none;
  }
}

.feature-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 54px;
  height: 54px;
  line-height: 54px;
  margin: -27px 0 0 -27px;

  img {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    max-width: 100%;
  }

  @include respond-to-min($resp_step_2) {
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin: -50px 0 0 -50px;
  }

  &:before {
    font-size: 60px;
    line-height: 100px;
    color: $gl_turquoise;

    @include respond-to-min($resp_step_2) {
      font-size: 75px;
    }
  }
}

.feature-fraction {
  position: absolute;
  font-size: 10px;
  color: #848484;
  text-align: left;
  min-width: 75px;

  &.fraction-v1 {
    top: 60%;
    right: 100%;
    margin-right: 5px;
    text-align: right;
  }

  &.fraction-v2 {
    top: 27%;
    left: 100%;
    margin-left: 2px;
  }

  &.fraction-v3 {
    bottom: 8%;
    right: 100%;
    margin-right: -15px;
  }

  @include respond-to-min($resp_step_2) {
    font-size: 12px;
  }
}