include mixins.pug
doctype html
html(lang='ru')
    +dev_head("Quartiroom Карточка Компании", false, false, false, false, true)

    body
        .wrapper
            .base._gray
                +header(1)
                
                .section.breadcrumbs_section._location-mode
                    .section-inner
                        +breadcrumbs(['Главная', 'Квартиры в московской области', '2-комнатные'])
                        
                        .section-title 2-комнатная квартира 47 кв.м. в Железнодорожном
                            
                        ul.object_card-location
                            li.fl
                                span.mb.complex-block_option-icon.i-metro
                                span.mb.fw_600 Выхино
                            li._small
                                span._clr_gray.mb пос. Долгопрудный, мкр. Московс&shy;кие Водники, ул. Московская, 45б
                            
                div.main_content
                    .section-inner
                        .location-block
                            .location-block-view_tabs
                                ul#location_switcher
                                    li.filter-item
                                        a.gl_link(href='#location_tab_1')
                                            span.mb.complex-view_tab-icon.i-humburger.mob_hidden
                                            span.mb описание
                                    li.filter-item
                                        a.gl_link(href='#location_tab_2')
                                            span.mb.complex-view_tab-icon.i-map_pin.mob_hidden
                                            span.mb на карте
                                            
                                    li.filter-item
                                        a.gl_link(href='#location_tab_3')
                                            span.mb.complex-view_tab-icon.mob_hidden.i-pano
                                            span.mb 
                                                span Панорама
                                                span.mob_hidden  местности
                            
                            .tabBlock(data-tab-context='#location_switcher')
                                #location_tab_1
                                    .object_card
                                        .object_card-media
                                            .object_card-slider: .objectCardSlider.noUpdate
                                                +loop_while(8)
                                                    .slide
                                                        img(src='images/card_1.jpg')
                                                        a.slide_zoom.btn_v1.btn_turquoise_transp.mob_hidden(href='#')
                                                            span.zoom_icon
                                                            span Увеличить
                                                
                                            .object_card-thumbs: .objectThumbsSlider.noUpdate
                                                +loop_while(4)
                                                    .slide: img(src='images/card_2_small.jpg')
                                                    .slide: img(src='images/card_1_small.jpg')
                                                    
                                        .object_card-info
                                            dl.object_card-info_list
                                                dt Комнат:
                                                dd 2
                                                
                                                dt Общая площадь:
                                                dd 63.2 м
                                                    sup._index 2
                                                    
                                                dt Компания:
                                                dd Альянс Девелопмент
                                                
                                                dt Теги:
                                                dd 
                                                    a.tag_link._clr_blue(href='#') Новостройка
                                                    a.tag_link._clr_blue(href='#') 2-комнатная
                                                    a.tag_link._clr_blue(href='#') Подмосковье
                                                    
                                            .object_card-info_phone +7 (495) 434-56-45
                                                
                                            .object_card-price_block
                                                .object_card-price_item
                                                    p Стоимость, руб.:
                                                    
                                                    .object_card-price 15 690 000
                                                    
                                                .object_card-price_item
                                                    p Ежемесячный платеж, руб.: 
                                                    
                                                    .object_card-month_payment 88 900
                                                    
                                                ul.object_card-price_controls
                                                    li 
                                                        a.btn_v1.btn_white_2.order_btn(href='#') Отправить заявку
                                                    li
                                                        a.favBtn._clr_blue.fav_link._clr_white(href='#')
                                                            span.mb.i-heart.fav_icon
                                                            span.mb В избранное
                                                    li
                                                        a._clr_blue.fav_link._clr_white(href='#')
                                                            span.mb.i-pencil.fav_icon
                                                            span.mb Пожаловаться
                                
                                #location_tab_2
                                    .location-block_map-holder
                                        .map-wrapper
                                            img(src='images/big_map.jpg')
                                            
                                #location_tab_3
                                    .location-block_map-holder
                                        .map-wrapper
                                            img(src='images/map.jpg')

                        .company-block.companyBlock._info-mode
                            .company-block_caption._mob_caption
                                span.collapseBlockBtn.company-block_caption-link Основные характеристики
                                a.company-block_caption-close.collapseBlockBtn(href='#')
                            
                            .company-block_options-holder
                                dl.company-block_options
                                    dt Общая площадь:
                                    dd 62.3
                                dl.company-block_options
                                    dt Жилая площадь:
                                    dd 45.1
                                dl.company-block_options
                                    dt Площадь комнат: 
                                    dd 16.3, 11.9
                                dl.company-block_options
                                    dt Площадь кухни: 
                                    dd 12.6

                            .company-info_box.infoBlock
                                .object_card-description
                                    .company-block_caption Все характеристики
                                        
                                    .company-unit_info_w
                                        dl.company-unit_info
                                            dt Количество санузлов
                                            dd 2
                                            dt Тип санузла (-ов)
                                            dd Обычный
                                            dt Балкон
                                            dd Есть
                                            dt Лоджия
                                            dd Нет
                                            dt Высота потолков
                                            dd 4 м
                                            dt Отделка
                                            dd Отсутствует
                                            dt Этаж и этажность здания
                                            dd 2 этаж из 21
                                            
                                        dl.company-unit_info
                                            dt Кол-во лифтов и их тип
                                            dd 4 стандартные
                                            dt Мусоропровод
                                            dd Отсутствует
                                            dt Наличие консьержа
                                            dd Есть
                                            dt Тип здания
                                            dd Панельный
                                            dt Описание
                                            dd Распашная квартира 
                                            dt Ориентация окон
                                            dd Окна с видом на парк
                                            
                                    .company-block_caption Описание квартиры
                                        
                                    .review-content 
                                        p На территории «Северной долины» в 270 га будут проживать 80 тысяч жителей Санкт-Петербурга. Столько же жителей населяет Люксембург или итальянский город Пиза. На просторной и благоустроенной территории «Северной долины» предусмотрено все для комфортного проживания. На территории «Северной долины» в 270 га будут проживать 80 тысяч жителей Санкт-Петербурга. Столько же жителей населяет Люксембург или итальянский город Пиза. 
                                        
                        .company-block.companyBlock._info-mode
                            .company-block_caption._mob_caption 
                                span.collapseBlockBtn.company-block_caption-link Инфраструктура
                                a.company-block_caption-close.collapseBlockBtn(href='#')
                            .company-block-collapsed_info
                                .company-block_options-holder
                                    dl.company-block_options
                                        dt Медицина: 
                                        dd 7
                                    dl.company-block_options
                                        dt Образование:
                                        dd 6
                                    dl.company-block_options
                                        dt Магазины и досуг: 
                                        dd 5
                                    
                            .company-info_box.infoBlock
                                ul.location-infrastructure
                                    li
                                        label.check-emul._check-v4
                                            input.inp-hidden(type='checkbox')
                                            span.check-text
                                                span.mb.mob_hidden._icon-on.i-plus_w
                                                span.mb.mob_hidden._icon-off.i-plus
                                                span.mb Мед. учереждения: 2
                                                
                                    li
                                        label.check-emul._check-v4
                                            input.inp-hidden(type='checkbox')
                                            span.check-text
                                                span.mb.mob_hidden._icon-on.i-face_w
                                                span.mb.mob_hidden._icon-off.i-face
                                                span.mb Детский сад: 3
                                                
                                    li
                                        label.check-emul._check-v4
                                            input.inp-hidden(type='checkbox')
                                            span.check-text
                                                span.mb.mob_hidden._icon-on.i-cart_w
                                                span.mb.mob_hidden._icon-off.i-cart
                                                span.mb Магазин: 12
                                                
                                    li
                                        label.check-emul._check-v4
                                            input.inp-hidden(type='checkbox')
                                            span.check-text
                                                span.mb.mob_hidden._icon-on.i-tree_w
                                                span.mb.mob_hidden._icon-off.i-tree
                                                span.mb Парк: 1
                                    li
                                        label.check-emul._check-v4
                                            input.inp-hidden(type='checkbox')
                                            span.check-text
                                                span.mb.mob_hidden._icon-on.i-plus_w
                                                span.mb.mob_hidden._icon-off.i-plus
                                                span.mb Поликлиники: 2
                                                
                                    li
                                        label.check-emul._check-v4
                                            input.inp-hidden(type='checkbox')
                                            span.check-text
                                                span.mb.mob_hidden._icon-on.i-cart_w
                                                span.mb.mob_hidden._icon-off.i-cart
                                                span.mb Гипермаркет: 1
                                                
                                    li
                                        label.check-emul._check-v4
                                            input.inp-hidden(type='checkbox')
                                            span.check-text
                                                span.mb.mob_hidden._icon-on.i-book_w
                                                span.mb.mob_hidden._icon-off.i-book
                                                span.mb Школа: 3
                                                
                                //-.location-infrastructure_total
                                    span: b 2,4 поликлиники на 1000 чел.
                                    span В среднем по Московской области - 3,1 поликлиники на 1000 чел.
                                                
                                .company-info_objects-wrapper
                                    .company-info_objects-map._full-width
                                        .map-wrapper
                                            img(src='images/big_map.jpg')
                                            
                        .company-block.companyBlock._info-mode
                            .company-block_caption._mob_caption
                                span.collapseBlockBtn.company-block_caption-link Аналитика и цены
                                a.company-block_caption-close.collapseBlockBtn(href='#') 
                            p._mob_if_opened Квартира на 5% ниже предложений рядом

                            .company-info_box.infoBlock(style_='display:block;')
                                .object_card-analytics
                                    .object_card-analytic_caption Сравнение этого предложения с 2-комн. квартирами 48-52 кв.м.
                                    
                                    .filter-holder.filter-holder-v1
                                        #filter_list.filter-list.text_upper.tabScroller
                                            li.filter-item: a.gl_link(href='#filter_tab_1')
                                                span.middle_block.dt_hidden ср.Щукино
                                                span.middle_block.mob_hidden в среднем по Щукино
                                            li.filter-item: a.gl_link(href='#filter_tab_2')
                                                span.middle_block.dt_hidden застройщ.
                                                span.middle_block.mob_hidden в среднем по СЗАО 
                                            li.filter-item: a.gl_link(href='#filter_tab_3')
                                                span.middle_block.dt_hidden ср. по Москве
                                                span.middle_block.mob_hidden в среднем по Москве
                                                
                                        .scrollerTabs(data-tab-context='#filter_list .slick-track')
                                            #filter_tab_1
                                                +prices()
                                                
                                            #filter_tab_2
                                                +prices()

                                            #filter_tab_3
                                                +prices()

                                    .object_card-analytic_caption Как изменялись цены на квартиры в этом жилом комплексе
                                        
                                    .object_card-graph_holder
                                        .object_card-graph_box-v1
                                            #chart_1.hide_y_axis.hide_x_axis.d3graph.graph_1
                                                        
                                        .object_card-graph_legend-v1
                                            table.object_card-legend
                                                tr 
                                                    th.col_1 Месяц
                                                    th.col_2 Стоимость
                                                    th.col_3 изменение
                                                    
                                                +loop_while(3)
                                                    tr 
                                                        td.col_1 Январь
                                                        td.col_2 3 790 000 руб.
                                                        td.col_3 &nbsp;
                                                    tr 
                                                        td.col_1 Февраль
                                                        td.col_2 3 480 000 руб.
                                                        td.col_3 
                                                            span.mb 35 000
                                                            span.graph_trend._up 
                                                    tr 
                                                        td.col_1 Март
                                                        td.col_2 3 240 000 руб.
                                                        td.col_3 
                                                            span.mb 45 000
                                                            span.graph_trend._up 
                                                        
                                                    tr 
                                                        td.col_1 Апрель
                                                        td.col_2 3 120 000 руб.
                                                        td.col_3 
                                                            span.mb -15 000
                                                            span.graph_trend._down
                                                            
                                    .object_card-analytic_caption Какие новостройки в Щукино
                                    .object_card-graph_holder
                                        .object_card-graph_box-v2
                                            #chart_2.d3graph.graph_2
                                                
                                        .object_card-graph_box-v2
                                            #chart_3.d3graph.graph_2
                                        
                        .company-block.companyBlock._info-mode
                            .company-block_caption._mob_caption
                                span.collapseBlockBtn.company-block_caption-link Варианты покупки
                                a.company-block_caption-close.collapseBlockBtn(href='#')
                            p._mob_if_opened Квартиру можно купить в ипотеку или рассрочку. Есть текущие акции.
                            
                            .company-info_box.infoBlock
                                .filter-holder.filter-holder-v2
                                    #variants_list.filter-list.text_upper.tabScroller
                                        li.filter-item: a.gl_link(href='#variant_tab_1')
                                            span.middle_block.dt_hidden ипотека
                                            span.middle_block.mob_hidden ипотека
                                        li.filter-item: a.gl_link(href='#variant_tab_2')
                                            span.middle_block.dt_hidden военная ипотека
                                            span.middle_block.mob_hidden военная ипотека 
                                        li.filter-item: a.gl_link(href='#variant_tab_3')
                                            span.middle_block.dt_hidden расс&shy;рочка
                                            span.middle_block.mob_hidden рассрочка
                                        li.filter-item: a.gl_link(href='#variant_tab_4')
                                            span.middle_block.dt_hidden 100% оплата
                                            span.middle_block.mob_hidden 100% оплата 
                                        li.filter-item: a.gl_link(href='#variant_tab_5')
                                            span.middle_block.dt_hidden акции
                                            span.middle_block.mob_hidden акции

                                    .scrollerTabs(data-tab-context='#variants_list .slick-track')
                                        #variant_tab_1
                                            +variants()

                                        #variant_tab_2
                                            +variants()

                                        #variant_tab_3
                                            +variants()

                                        #variant_tab_4
                                            +variants()

                                        #variant_tab_5
                                            +variants()
                                
                        .company-block.object_card-price_block
                            .object_card-price_item
                                p ООО “Гранд-капитал <br> Альянс Девелопмент”

                            .object_card-price_item
                                .object_card-info_phone +7 (495) 434-56-45
                            
                            ul.object_card-price_controls
                                li
                                    a.btn_v1.btn_white_2.order_btn(href='#') Отправить заявку
                                li
                                    a.favBtn._clr_blue.fav_link._clr_white(href='#')
                                        span.mb.i-heart.fav_icon
                                        span.mb В избранное
                                li
                                    a._clr_blue.fav_link._clr_white(href='#')
                                        span.mb.i-pencil.fav_icon
                                        span.mb Пожаловаться
                                                
                        .company-block._overview.opened
                            .company-block_caption
                                span Похожие предложения
                            p Предложения, очень близкие к данной квартире

                            .company-info_box
                                .similar-block_counters-holder: ul.similar-block_counters
                                    li 
                                        .similar-block_count-val: a.gl_link._clr_turqoise(href='#') 340
                                        p Квартир(ы) <br> в этом доме
                                    li 
                                        .similar-block_count-val: a.gl_link._clr_turqoise(href='#') 98
                                        p Квартир(ы) <br>у этой компании
                                
                                ul.similar_offers 
                                    +loop_while(3)
                                        li
                                            .similar-block
                                                a.complex-block_object-img.slideBS(href='#')
                                                    img(src='images/object_5.jpg')
    
                                                .complex-block_content
                                                    .complex-block_content-head
                                                        p: span.complex-block_caption: a.gl_link(href='card.html') 2-комнатная квартира, 56 кв.м., с видом на парк, с отделкой
                                                        
                                                        p._clr_gray пос. Мурино, ул. Новая
                                                        
                                                        .similar-block_info
                                                            .company-info_object-price 4 560 000 руб.
                                                            .company-info_object-proposition Ипотека, рассрочка
    
                                                    .complex-block_content-body
                                                        ul.complex-block_prices
                                                            li
                                                                .complex-block_option
                                                                    span.mb.complex-block_option-icon.i-metro
                                                                    span.mb Девяткино. 17 мин.пешком
                                                            
                                                    .complex-block_content-footer
                                                        .complex-block_info
                                                            .complex-block_status
                                                                span.complex-block_status-item.mob_ver-1
                                                                    a.favBtn._clr_blue.fav_link(href='#')
                                                                        span.mb.i-heart
                                                                        span.mb.mob_hidden В избранное
                                                                    
                                        //-li
                                            .complex-block
                                                a.complex-block_object-img.slideBS(href='#')
                                                    img(src='images/object_1.png')
                                                    
                                                .complex-block_content
                                                    .complex-block_content-head
                                                        p: span.complex-block_caption: a.gl_link(href='card.html') 2-комнатная квартира, 63 м2 квартал
                                                        p._clr_gray Московская обл., г. Королев, ул. Октябрьская, корп.5, д.45 "В"
                                                        .complex-block_price-val 12 387 200 руб.

                                                    .complex-block_content-body
                                                        ul.complex-block_prices
                                                            li
                                                                .complex-block_option
                                                                    span.mb.complex-block_option-icon.i-metro
                                                                    span.mb Выхино
                                                            li._has_dot
                                                                span 6 этаж 
                                                                span._clr_gray из  
                                                                span 14

                                                            li
                                                                span._clr_gray Дом:  
                                                                span Монолитно-кирпичный

                                                    .complex-block_content-footer
                                                        .complex-block_info
                                                            .complex-block_status
                                                                span.complex-block_status-item.mob_ver-1
                                                                    a.favBtn._clr_blue.fav_link(href='#')
                                                                        span.mb.i-heart
                                                                        span.mb.mob_hidden В избранное
                                                                        
                                        
            +footer()
            
        +popups()
        
