include mixins.pug
doctype html
html(lang='ru')
    +dev_head("Quartiroom Главная", true)

    body
        .wrapper
            .base
                +header(1)
                
                .hero_block
                    .hero_img.BSsection(data-bs='images/hero_1.jpg' data-bs-1024='images/hero_1_mob.jpg')
                        .hero_content
                            .gl_table
                                .gl_table_cell
                                    .section_inner
                                        .hero_title Быстрый подбор любых вариантов квартир <br> и другой недвижимости
                                        .hero_slogan.mob_hidden То что вы ищете уже существует, осталось только ввести параметры для поиска
                                            
                                        .hero_search
                                            form(action='#')
                                                .form_row
                                                    .form_cell.cell-s1.select-box-v1
                                                        select.select2(data-dropdown-class='dropdown-v1') 
                                                            option Купить
                                                            option Продать
                                                    .form_cell.cell-s1.select-box-v1
                                                        select.select2(data-dropdown-class='dropdown-v1')
                                                            option Квартиру
                                                            option Дом
                                                    .form_cell.cell-s2
                                                        .input_w
                                                            input.f_input.input-v1(placeholder='Город, район, название комплекса')
                                                    .form_cell.cell-s3
                                                        button.btn_v1.btn_blue.hero_btn Подобрать
                                                        
                                                        
                                                        
                                                        
                            a.hero_scroll.scrollTo(href='#section_1') Как это работает?
                                
                            
                div.main_content#section_1
                    .features-list_holder
                        ul.features-list
                            li
                                .feature-unit
                                    .feature-logo
                                        img(src='images/feature_border.png')
                                        .feature-fraction.fraction-v1 С&nbsp;мебелью
                                        .feature-fraction.fraction-v2 Остальные
                                        .feature-icon.i-interior---sofa-chair
                                    p Квартиры с мебелью продаются <br> в 3 раза быстрее пустых
                            li
                                .feature-unit
                                    .feature-logo
                                        img(src='images/feature_border_2.png')
                                        .feature-fraction.fraction-v3 Новостройки <br> в&nbsp;других&nbsp;районах
                                        .feature-fraction.fraction-v2 Новостройки <br> в промзонах
                                        .feature-icon.i-building---apartment
                                    p Новостройки в промзонах <br> теряют в цене после ГК
                            li
                                .feature-unit
                                    .feature-logo
                                        img(src='images/feature_border.png')
                                        .feature-fraction.fraction-v1 С мебелью
                                        .feature-fraction.fraction-v2 Остальные
                                        .feature-icon.i-time---clock-hour
                                    p Однокомнатные квартиры <br> в 5 раз популярнее остальных
                        
                        
            +footer()
            
        +popups()
        
