
mixin dev_head(page_title, index, companies, location, product, lk, cart)
    head
        title=page_title
        | 
        | <!-- saved from url=(0014)about:internet -->
        meta(charset='utf-8')
        meta(name='viewport', content="width=device-width, initial-scale=1.0")
        meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="format-detection", content="telephone=no")
        | 
        | <!--build:css css/styles.min.css-->
        link(rel='stylesheet', href='css/main_global.css', media='all')
        | 
        | <!--endbuild-->
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=cyrillic", rel="stylesheet", type='text/css')
 
        | 
        | <!--build:js js/main.min.js -->
        script(src='js/lib/jquery-1.12.1.min.js')
        script(src='js/lib/modernizr.js')
        script(src='js/lib/jquery-ui-1.11.4.js')
        script(src='js/lib/slick.js')
        script(src='js/lib/jquery.inputmask.bundle.js')
        script(src='js/lib/jquery.easy-autocomplete.js')
        script(src='js/lib/select2.js')
        script(src='js/main.js')
        | 
        | <!--endbuild-->
        | <!--[if IE 8]>
        | <link rel="stylesheet" href="css/ie_8.css" media="all"/>
        | <script src="js/lib/respond.min.js"/></script>
        | <![endif]-->
        
        - if (index)
            | 
            | <!--build:js js/index.min.js -->
            script(src='js/lib/jquery.backstretch.js')
            script(src='js/index.js')
            | 
            | <!--endbuild-->
        - if (companies)
            | 
            | <!--build:js js/companies.min.js -->
            script(src='js/companies.js')
            | 
            | <!--endbuild-->
        - if (location)
            | 
            | <!--build:js js/location.min.js -->
            script(src='js/location.js')
            | 
            | <!--endbuild-->
        - if (lk)
            | 
            | <!--build:js js/lk.min.js -->
            script(src='js/lk.js')
            | 
            | <!--endbuild-->
        - if (cart)
            | 
            | <!--build:js js/cart.min.js -->
            script(src='js/lib/jquery.inputmask.bundle.js')
            script(src='js/cart.js')
            | 
            | <!--endbuild-->
            

mixin loop_while(counter)
    -i=0;
    while i < counter
        -i++;
        block

mixin header(active)
    div.header
        .section-inner
            .header-logo_block
                a.header-logo(href='index.html')
                    span КВА
                        span.header-logo_r Р
                        | ТИРИУМ
                    
            a.mob-menu_btn.openMobMenu(href='#')

            .main-menu_holder
                .user-menu
                    a.user-menu_link(href='#')
                        span.user-menu_icon
                        span Вход

                ul.main-menu
                    li.main-menu_item.menuItem._dropdown-menu
                        span.gl_link Квартиры
                        ul.main-menu_sub-menu
                            li: a.gl_link(href='#') Новостройки
                            li: a.gl_link(href='#') Вторичное жилье
                            li: a.gl_link(href='#') 1-комнатные
                            li: a.gl_link(href='#') 2-комнатные
                    li.main-menu_item.menuItem._dropdown-menu
                        span.gl_link Новостройки
                        ul.main-menu_sub-menu
                            li: a.gl_link(href='#') Все новостройки
                            li: a.gl_link(href='#') Москва
                            li: a.gl_link(href='#') Московская область
                        
                    li.main-menu_item.menuItem
                        a.gl_link(href='companies.html') Компании
                    li.main-menu_item.menuItem
                        a.gl_link(href='#') Полезное
                    

mixin footer()
    .footer
        .section-inner
            .footer-about_block
                .footer-about.mob_hidden Квартириум - это самый удобный способ поиска недвижимости по точному адресу или по карте, с учётом всех интересующих вас параметров.
                ul.footer-about_menu
                    li: a.gl_link(href='#') О проекте
                    li: a.gl_link(href='#') Реклама
                    li: a.gl_link(href='#') Контакты

            .footer-menu_holder
                ul.main-menu
                    li.main-menu_item.menuItem
                        a.gl_link(href='#') Квартиры
                        ul.main-menu_sub-menu
                            li: a.gl_link(href='#') Новостройки
                            li: a.gl_link(href='#') Вторичное жилье
                            li: a.gl_link(href='#') 1-комнатные
                            li: a.gl_link(href='#') 2-комнатные
                    li.main-menu_item.menuItem
                        a.gl_link(href='#') Новостройки
                        ul.main-menu_sub-menu
                            li: a.gl_link(href='#') Все новостройки
                            li: a.gl_link(href='#') Москва
                            li: a.gl_link(href='#') Московская область

                    li.main-menu_item.menuItem
                        a.gl_link(href='#') Компании
                        ul.main-menu_sub-menu
                            li: a.gl_link(href='#') Все компании
                            li: a.gl_link(href='#') Рейтинг компаний
                            li: a.gl_link(href='#') Лучшие 2016 года
                    li.main-menu_item.menuItem
                        a.gl_link(href='#') Полезное
                        ul.main-menu_sub-menu
                            li: a.gl_link(href='#') Иноформация
                            li: a.gl_link(href='#') Законы и акты
                
                
            .footer-copyright_holder
                .footer-copyright 2011—2016, kvartirium.ru <br> - всё, что нужно знать о квартирах

                .footer-adds По вопросам размещения  рекламы и сотрудничества с сайтом <br>  обращайтесь в рекламный отдел:+7 (495) 432-43-22
                    
                ul.footer_counters
                    li
                        img(src='images/li_counter.png')
                        
mixin breadcrumbs(list)
    ul.breadcrumbs
        for item, i in list
            li.breadcrumb-item
                - if (i == list.length - 1)
                    span=item
                - else
                    a.gl_link(href= item == 'Главная' ? 'index.html' : (item == 'Компании' ? 'companies.html' : 'products.html'))=item
            
mixin review_footer()
    .review-footer.reviewFooter
        ul.review-footer_controls
            li
                a.review-btn._like(href='#') 5
            li
                a.review-btn._dislike(href='#') 2
            li
                a.gl_link._clr_blue.answerBtn(href='#' data-text-toggle='Отменить ответ') Ответить

        .review-footer_answer.reviewAnswer
            form(action='#')
                .input_w._answer-name
                    input.f_input.input-v1._bordered(placeholder='Имя')
                .input_w._answer_text
                    textarea.f_input.input-v1._h-112._bordered(placeholder='Сообщение')

                .input_w
                    button.btn_v1.btn_blue.review_btn Ответить

mixin popups()
    .popup_close_btn.popupClose

    #callback_popup.popup.popup_v2
        .popup_inner
            ul#callback_switcher.tab_holder.tab_v1
                li: a.tab_link(href='#callback_tab_1'): span Перезвоните мне
                li: a.tab_link(href='#callback_tab_2'): span Задать вопрос
                
            .tabBlock(data-tab-context='#callback_switcher')
                #callback_tab_1
                    .tab_content
                        form(action='#')
                            .form-cell
                                input.f_input.input_v2(placeholder='Имя')
                                
                            .form-cell
                                input.f_input.input_v2(placeholder='Телефон' data-inputmask="'mask': '[+7] (999)-999-99-99'")
                                
                            .form-cell
                                button.btn_v1.blue_btn.order_btn Отправить заявку
                                
                #callback_tab_2
                    .tab_content
                        form(action='#')
                            .form-cell
                                input.f_input.input_v2(placeholder='Имя')
                                
                            .form-cell
                                input.f_input.input_v2(placeholder='Телефон' data-inputmask="'mask': '[+7] (999)-999-99-99'")
                                
                            .form-cell
                                textarea.f_input.input_v2(placeholder='Вопрос')
                                
                            .form-cell
                                button.btn_v1.blue_btn.order_btn Отправить вопрос
                                
    #fail_popup.popup.popup_v3.popup_fail
        .popup_inner.form-cell_v1
            .popup_caption Ошибка
            .popup_msg Вы указали почту, которой нет.  <br>  Попробуйте еще раз
            
            .form-cell
                a.btn_v1.blue_btn.order_btn.mod_2(href='#') Попробовать еще раз
                a.gl_link.popupClose(href='#') Закрыть
                    
    #success_popup.popup.popup_v3.popup_success
        .popup_inner.form-cell_v1
            .popup_caption Успех!
            .popup_msg Новый пароль отправлен на вашу почту. Откройте письмо и пройдите по ссылке 
            
            .form-cell
                button.btn_v1.blue_btn.order_btn.mod_3.popupClose Закрыть

    #recovery_popup.popup.popup_v3
        .popup_inner.form-cell_v1
            .popup_caption Восстановление пароля
            form(action='#')
                .form-cell
                    input.f_input.input_v2(placeholder='Email' value='mysweetmail@gmail.com')
                    
                .form-cell
                    button.btn_v1.blue_btn.order_btn.mod_2 Выслать новый пароль

    #auth_popup.popup.popup_v3
        .popup_inner
            ul.tab_holder.tab_v2
                li.ui-state-active: span.tab_link(href='#'): span Вход
                li: a.tab_link(href='#auth_tab_2'): span Зарегистрироваться
                
            .tab_content
                form(action='#')
                    .form-cell
                        input.f_input.input_v2(placeholder='Email')
                        
                    .form-cell
                        input.f_input.input_v2(placeholder='пароль')
                        
                    .form-cell
                        a.gl_link.cool_text.fz_13.fw_500.passRecoveryBtn(href='#') Забыли пароль?
                        
                    .form-cell
                        button.btn_v1.blue_btn.order_btn Войти
                        
                    .alter_auth
                        p Войти через:
                        ul.about_list
                            li
                                a.about_link(href='#')
                                    span.i-v
                            li
                                a.about_link(href='#')
                                    span.i-f
                            li
                                a.about_link(href='#')
                                    span.i-t
                            li
                                a.about_link(href='#')
                                    span.i-o
                            li
                                a.about_link(href='#')
                                    span.i-g
    