include mixins.pug
doctype html
html(lang='ru')
    +dev_head("Quartiroom Объекты", false, false, false, true)

    body
        .wrapper
            .base._gray
                +header(1)
                
                .section.breadcrumbs_section._filder-mode
                    .section-inner
                        +breadcrumbs(['Главная', 'Квартиры в московской области', 'Квартиры в Королеве'])
                        
                        .section-title Квартиры в Королеве
                        .filter-form: form(action='#')
                            .filter-container._smpl-filter
                                .filter-cell._col-1
                                    .form-cell.select-box-v1._bordered._ganged-first._s-50.select-search-v1
                                        select.typeSelect.select2(data-dropdown-class='dropdown-v1' data-close-on-select_='false' multiple_ )
                                            option Покупка
                                            option Продажа
                                            option Аренда

                                    .form-cell.select-box-v1._bordered._ganged-last._s-50.select-search-v1
                                        select.typeSelect.select2(data-dropdown-class='dropdown-v1' data-close-on-select_='false' multiple_)
                                            option Квартира
                                            option Дом
                                            option Студия
                                            
                                .filter-cell._col-2
                                    .select-box-v1.select-search-v1._bordered
                                        .input_w
                                            select.select2(data-dropdown-class='dropdown-v1' data-placeholder='Город, название комплекса, застройщик' data-minimum-results-for-search=0)
                                                option
                                                option Москва
                                                option Питер
                                                option Орел
                                                option Омск
                                                option Воронеж
                                                
                                .filter-cell._col-1.filterBlock
                                    .form-cell.toddler-val-v1
                                        .toddler-val
                                            //-span.label 
                                                span Цена за м
                                                    sup._index 2
                                                span от 
                                            span.start 
                                            span.label &mdash;
                                            span.end 
    
                                    .form-cell.toddler-v1
                                        .filterToddler(data-format='money' data-suffix_2=' руб' data-suffix_1=' руб' data-min=500 data-max=500000)
                                    .toddler-range
                                        .min 
                                        .max
                                            
                                .filter-cell._col-5: ._ganged-triple
                                    .form-cell.select-box-v1._bordered._ganged-first._s-33.select-search-v1
                                        select.typeSelect.select2(data-dropdown-class='dropdown-v1' data-close-on-select_='false' multiple_ data-placeholder='Кол-во комнат')
                                            option 
                                            option 1
                                            option 2
                                            option 3
                                            option Студия
                                            
                                    .form-cell.select-box-v1._bordered._ganged-mid._s-33.select-search-v1
                                        select.typeSelect.select2(data-dropdown-class='dropdown-v1' data-close-on-select_='false' multiple_ data-placeholder='Район')
                                            option 
                                            option 1-комнатная квартира
                                            option 2-комнатная квартира
                                            option 3-комнатная квартира
                                            option Студия
                                            
                                    .form-cell.select-box-v1._bordered._ganged-last._s-33.select-search-v1
                                        select.typeSelect.select2(data-dropdown-class='dropdown-v1' data-close-on-select_='false' multiple_ data-placeholder='Метро')
                                            option 
                                            option 1-комнатная квартира
                                            option 2-комнатная квартира
                                            option 3-комнатная квартира
                                            option Студия
                                            
                                .filter-cell._col-3
                                    .form-cell.select-box-v1._bordered.simpleSearch
                                        button.btn_v1.btn_blue.filter_btn Подобрать
                                    .form-cell.adv-search_box
                                        a.gl_link.adv-search_link.advSearchBtn._clr_blue(href='#' data-text-toggle='Свернуть расшир. поиск') 
                                            span Расширенный поиск 
                                            
                            .advSearchBlock.filter-container._adv-filter
                                ._adv-filter_border.mob_hidden
                                .filter-cell._col-1.filterBlock
                                    .form-cell.toddler-val-v1
                                        .toddler-val
                                            span.label Общая площадь от
                                            span.start 
                                            span.label &mdash;
                                            span.end 
    
                                    .form-cell.toddler-v1
                                        .filterToddler(data-suffix_2=' м<sup class="_index">2</sup>' data-suffix_1=' м<sup class="_index">2</sup>' data-plural-text='м<sup class="_index">2</sup>' data-min=1 data-max=300)
                                    .toddler-range
                                        .min
                                        .max
                                            
                                .filter-cell._col-4.filterBlock
                                    .form-cell.toddler-val-v1
                                        .toddler-val
                                            span.label Жилая площадь от
                                            span.start 
                                            span.label &mdash;
                                            span.end 
    
                                    .form-cell.toddler-v1
                                        .filterToddler(data-suffix_2=' м<sup class="_index">2</sup>' data-suffix_1=' м<sup class="_index">2</sup>' data-plural-text='м<sup class="_index">2</sup>' data-min=1 data-max=300)
                                    .toddler-range
                                        .min
                                        .max
                                            
                                .filter-cell._col-1
                                    .form-cell.select-box-v1._bordered.select-multi-v1
                                        select.typeSelect.select2(data-dropdown-class='dropdown-v1' data-close-on-select='false' multiple data-placeholder='Санузел:' data-preserve-placeholder='true')
                                            option
                                            option Совмещенный
                                            option Раздельный

                                .filter-cell._col-1.cb
                                    .form-cell.radio-group-v1
                                        .radio-group._fixed-cell
                                            label.check-emul._check-v2
                                                input.inp-hidden(type='radio' name='balkon')
                                                span.check-text Балкон
                                                
                                            label.check-emul._check-v2
                                                input.inp-hidden(type='radio' name='balkon')
                                                span.check-text Лоджия
                                                
                                            label.check-emul._check-v2
                                                input.inp-hidden(type='radio' name='balkon')
                                                span.check-text Не важно
                                
                                .filter-cell._col-4
                                    .form-cell.radio-group-v1
                                        .radio-group._fixed-cell
                                            label.check-emul._check-v2
                                                input.inp-hidden(type='radio' name='remont')
                                                span.check-text С отделкой
                                                
                                            label.check-emul._check-v2
                                                input.inp-hidden(type='radio' name='remont')
                                                span.check-text Без отделки
                                                
                                            label.check-emul._check-v2
                                                input.inp-hidden(type='radio' name='remont')
                                                span.check-text Не важно

                                .filter-cell._col-1
                                    .form-cell.select-box-v1._bordered.select-multi-v1
                                        select.typeSelect.select2(data-dropdown-class='dropdown-v1' data-close-on-select='false' multiple data-placeholder='Тип дома:' data-preserve-placeholder='true')
                                            option
                                            option Монолит
                                            option Панельный
                                            option Кирпичный
                                            option Сруб
                                            
                                .filter-cell._col-1.filterBlock.cb
                                    .form-cell.toddler-val-v1
                                        .toddler-val
                                            span.label Этаж от 
                                            span.start
                                            span.label &mdash;
                                            span.end

                                    .form-cell.toddler-v1
                                        .filterToddler(data-plural='этаж,этажа,этажей' data-min=1 data-max=100)
                                    .toddler-range
                                        .min
                                        .max

                                .filter-cell._col-4.filterBlock
                                    .form-cell.toddler-val-v1
                                        .toddler-val
                                            span.label Этажность дома от 
                                            span.start
                                            span.label &mdash;
                                            span.end

                                    .form-cell.toddler-v1
                                        .filterToddler(data-plural='этаж,этажа,этажей' data-min=1 data-max=100)
                                    .toddler-range
                                        .min
                                        .max

                                .filter-cell._col-1
                                    .form-cell.select-box-v1._bordered.select-multi-v1
                                        select.typeSelect.select2(data-dropdown-class='dropdown-v1' data-close-on-select='false' multiple data-placeholder='Лифт:' data-preserve-placeholder='true')
                                            option
                                            option Пассажирский
                                            option Грузовой
                                            
                                .filter-cell._col-1.cb
                                    .form-cell.radio-group-v1
                                        .radio-group._fixed-cell
                                            label.check-emul._check-v2
                                                input.inp-hidden(type='radio' name='new_building')
                                                span.check-text Новостройка
    
                                            label.check-emul._check-v2
                                                input.inp-hidden(type='radio' name='new_building')
                                                span.check-text Вторичка
                                            
                                .filter-cell._col-4
                                    .form-cell.radio-group-v1
                                        .radio-group
                                            label.check-emul._check-v2
                                                input.inp-hidden(type='radio' name='kredit')
                                                span.check-text Ипотека
    
                                            label.check-emul._check-v2
                                                input.inp-hidden(type='radio' name='kredit')
                                                span.check-text Военная ипотека
    
                                            label.check-emul._check-v2
                                                input.inp-hidden(type='radio' name='kredit')
                                                span.check-text Рассрочка
                                                
                                .filter-cell._col-1
                                    .form-cell.select-box-v1._bordered.select-multi-v1
                                        select.typeSelect.select2(data-dropdown-class='dropdown-v1' data-close-on-select='false' multiple data-placeholder='Инфраструктура:' data-preserve-placeholder='true')
                                            option
                                            option Электричество
                                            option Центральный газ
                                            option Центральное отопление
                                            option Кладовые
                                            option Центральная канализация
                                            option Дороги
                                            
                                .filter-cell._col-1.cb
                                    .form-cell.select-box-v1._bordered._ganged-first._s-50.select-search-v1
                                        select.typeSelect.select2(data-dropdown-class='dropdown-v1' data-close-on-select_='false' multiple_ data-placeholder='До метро:' data-preserve-placeholder='true')
                                            option
                                            option 15 мин.
                                            option 30 мин.
                                            option 45 мин.
                                            option 60 мин.
    
                                    .form-cell.select-box-v1._bordered._ganged-last._s-50.select-search-v1
                                        select.typeSelect.select2(data-dropdown-class='dropdown-v1' data-close-on-select_='false' multiple_ data-placeholder='Транспорт')
                                            option
                                            option Пешком
                                            option На общественном транспорте
                                            option На автомобиле
                                            
                                .filter-cell._col-4
                                    .form-cell.select-box-v1._bordered._ganged-first._s-50.select-search-v1
                                        select.typeSelect.select2(data-dropdown-class='dropdown-v1' data-close-on-select_='false' multiple_ data-placeholder='До станции:' data-preserve-placeholder='true')
                                            option
                                            option 15 мин.
                                            option 30 мин.
                                            option 45 мин.
                                            option 60 мин.
    
                                    .form-cell.select-box-v1._bordered._ganged-last._s-50.select-search-v1
                                        select.typeSelect.select2(data-dropdown-class='dropdown-v1' data-close-on-select_='false' multiple_ data-placeholder='Транспорт')
                                            option
                                            option Пешком
                                            option На общественном транспорте
                                            option На автомобиле
                                            
                                .filter-cell._col-1.adv-search_cell
                                    .form-cell.select-box-v1._bordered.advSearch
                                        button.btn_v1.btn_blue.filter_btn Показать: 560 вариантов

                .complex-view_switcher
                    .section-inner.clearfix
                        .complex-view_tabs
                            ul#view_switcher
                                li.filter-item
                                    a.gl_link(href='#view_tab_1')
                                        span.mb.complex-view_tab-icon.i-humburger.mob_hidden
                                        span.mb списком
                                li.filter-item
                                    a.gl_link(href='#view_tab_2')
                                        span.mb.complex-view_tab-icon.i-map_pin.mob_hidden
                                        span.mb на карте
                        
                        .complex-view_sort
                            span._clr_gray.mb.mob_hidden Выводить:
                            .mb: .complex-view_sort-select.select-box-v2
                                select.select2(data-dropdown-class='dropdown-v2' data-minimum-results-for-search='Infinity')
                                    option По рейтингу
                                    option Рекомендуемые
                                
                            .mb.mob_hidden
                                a.complex-view_sort-toggle.sortToggle(href='#') По цене
                                
                
                .tabBlock(data-tab-context='#view_switcher')
                    #view_tab_1
                        .main_content._no-pad
                            .section-inner
                                +loop_while(6)
                                    .complex-block._object-mode
                                        .complex-block_object-img
                                            img(src='images/object_1.png')

                                        .complex-block_content
                                            .complex-block_content-head
                                                p: a.complex-block_caption(href='#') 2-комнатная квартира, 63 м2 квартал
                                                p._clr_gray Московская обл., г. Королев, ул. Октябрьская, корп.5, д.45 "В"
                                                .complex-block_price-val 12 387 200 руб.

                                            .complex-block_content-body
                                                ul.complex-block_prices
                                                    li
                                                        .complex-block_option
                                                            span.mb.complex-block_option-icon.i-metro
                                                            span.mb Выхино
                                                    li._has_dot
                                                        span 6 этаж 
                                                        span._clr_gray из  
                                                        span 14
                                                        
                                                    li 
                                                        span._clr_gray Дом:  
                                                        span Монолитно-кирпичный
                                                        
                                            .complex-block_content-footer
                                                //-p Отличный вариант для молодой семьи. Распашная квартира с видом на парк и двор.  2 больших комнаты и небольшая кухня очень хорошо.
                                                        
                                                .complex-block_info
                                                    ul.complex-block_tags._clr_gray
                                                        li: .complex-tag У реки
                                                        li: .complex-tag Акция
                                                        li: .complex-tag Военная ипотека
                                                        li: .complex-tag Таунхаус
                                                        li: .complex-tag У реки
                                                        li: .complex-tag Акция
                                                            
                                                    .complex-block_status
                                                        span._clr_gray На сайте с 29.01.16
                                                        span.complex-block_status-item.mob_ver-1
                                                            a.favBtn._clr_blue.fav_link(href='#')
                                                                span.mb.i-heart
                                                                span.mb.mob_hidden В избранное
                                                                
                                    .complex-block._object-mode
                                        .complex-block_object-img
                                            img(src='images/object_1.png')

                                        .complex-block_content
                                            .complex-block_content-head
                                                p: a.complex-block_caption(href='#') 2-комнатная квартира, 63 м2 квартал
                                                p._clr_gray Московская обл., г. Королев, ул. Октябрьская, корп.5, д.45 "В"
                                                .complex-block_price-val 12 387 200 руб.

                                            .complex-block_content-body
                                                ul.complex-block_prices
                                                    li
                                                        .complex-block_option
                                                            span.mb.complex-block_option-icon.i-metro
                                                            span.mb Выхино
                                                    li._has_dot
                                                        span 6 этаж 
                                                        span._clr_gray из  
                                                        span 14
                                                        
                                                    li 
                                                        span._clr_gray Дом:  
                                                        span Монолитно-кирпичный
                                                        
                                            .complex-block_content-footer
                                                p Отличный вариант для молодой семьи. Распашная квартира с видом на парк и двор.  2 больших комнаты и небольшая кухня очень хорошо.
                                                        
                                                .complex-block_info
                                                    ul.complex-block_tags._clr_gray
                                                        li: .complex-tag У реки
                                                        li: .complex-tag Акция
                                                        li: .complex-tag Военная ипотека
                                                        li: .complex-tag Таунхаус
                                                        li: .complex-tag У реки
                                                        li: .complex-tag Акция
                                                            
                                                    .complex-block_status
                                                        span._clr_gray На сайте с 29.01.16
                                                        span.complex-block_status-item.mob_ver-1
                                                            a.favBtn._clr_blue.fav_link(href='#')
                                                                span.mb.i-heart
                                                                span.mb.mob_hidden В избранное
                                                                
                                                                

                                ul.pagination-list.mob_hidden
                                    li.pagination-item._first
                                        a.gl_link(href='#') В начало
                                    li.pagination-item
                                        a.gl_link(href='#') 5
                                    li.pagination-item
                                        a.gl_link(href='#') 6
                                    li.pagination-item._active
                                        a.gl_link(href='#') 7
                                    li.pagination-item
                                        a.gl_link(href='#') 8
                                    li.pagination-item
                                        a.gl_link(href='#') 9
                                    li.pagination-item._last
                                        a.gl_link(href='#') В конец
                             
                            .section-inner.mob_hidden
                                .complex-block_promo
                                    p На территории «Северной долины» в 270 га будут проживать 80 тысяч жителей Санкт-Петербурга. Столько же жителей населяет Люксембург или итальянский город Пиза. На просторной и благоустроенной территории «Северной долины» предусмотрено все для комфортного проживания. На территории «Северной долины» в 270 га будут проживать 80 тысяч жителей Санкт-Петербурга. Столько же жителей населяет Люксембург или итальянский город Пиза.
                                        
                    #view_tab_2
                        .company-info_objects-wrapper
                            .company-info_objects-map
                                .map-wrapper
                                    img(src='images/big_map.jpg')

                            .company-info_objects-info._tab_mode
                                .company-info_objects-description
                                    .gl_table
                                        .gl_table_cell
                                            p
                                                span Ул. Народного Ополчения, 34, <br> ЖК "Квартал Руполис-Растуново", 
                                                span.mob_hidden <br>
                                                span корпус 14
                                            p.company-info_objects-count
                                                span В этом доме: 
                                                span._val 456 квартир

                                .company-info_objects-container
                                    ul.company-info_objects-list.objectsList
                                        +loop_while(3)
                                            li
                                                .company-info_object
                                                    p.clearfix
                                                        a.fl._clr_blue(href='#') 2-комн. кв.
                                                        a.fr.favBtn._clr_blue.fav_link(href='#')
                                                            span.i-heart

                                                    p.clearfix
                                                        span.fl._price 34 кв. м.
                                                        span.fl 5/9 эт.
                                                        span.fr 4 560 000 руб.

                                            li
                                                .company-info_object
                                                    p.clearfix
                                                        a.fl._clr_blue(href='#') 2-комн. кв.
                                                        a.fr.favBtn._clr_blue.fav_link(href='#')
                                                            span.i-heart
                                                    p.clearfix
                                                        span.fl._price 34 кв. м.
                                                        span.fl 5/9 эт.
                                                        span.fr 4 560 000 руб.
                                        +loop_while(7)
                                            li.mob_hidden
                                                .company-info_object
                                                    p.clearfix
                                                        a.fl._clr_blue(href='#') 2-комн. кв.
                                                        a.fr.favBtn._clr_blue.fav_link(href='#')
                                                            span.i-heart

                                                    p.clearfix
                                                        span.fl._price 34 кв. м.
                                                        span.fl 5/9 эт.
                                                        span.fr 4 560 000 руб.

                                            li.mob_hidden
                                                .company-info_object
                                                    p.clearfix
                                                        a.fl._clr_blue(href='#') 2-комн. кв.
                                                        a.fr.favBtn._clr_blue.fav_link(href='#')
                                                            span.i-heart
                                                    p.clearfix
                                                        span.fl._price 34 кв. м.
                                                        span.fl 5/9 эт.
                                                        span.fr 4 560 000 руб.

                                        li.dt_hidden.text_center
                                            a.btn_v1.btn_transp_blue.show_more.showMoreBtn(href='#') Показать еще

            +footer()
            
        +popups()