include mixins.pug
doctype html
html(lang='ru')
    +dev_head("Quartiroom Отзывы и оценка", false, false, false, false, false, true)

    body
        .wrapper
            .base._gray
                +header(1)
                
                .section.breadcrumbs_section._location-mode
                    .section-inner
                        +breadcrumbs(['Главная', 'Московская область', "Жилые комплексы в Королеве"])
                        
                        .section-title.clearfix
                            .section-title_text Отзывы и оценка ЖК "Королев Сити"
                            
                            ul.section-title_controls
                                li: a.btn_v2.btn_blue.title_btn(href='#') Официальный сайт
                                li: a.btn_v2.btn_blue.title_btn(href='#') Форум
                                
                div.main_content
                    .section-inner
                        .location-block
                            .location-block-view_tabs
                                ul#location_switcher
                                    li.filter-item
                                        a.gl_link(href='#location_tab_1')
                                            span.mb.complex-view_tab-icon.i-humburger.mob_hidden
                                            span.mb фото
                                                span.mob_hidden (12)
                                    li.filter-item
                                        a.gl_link(href='#location_tab_2')
                                            span.mb.complex-view_tab-icon.i-map_pin.mob_hidden
                                            span.mb на карте
                                    li.filter-item
                                        a.gl_link(href='#location_tab_3')
                                            span.mb.complex-view_tab-icon.mob_hidden.i-pano
                                            span.mb 
                                                span Панорама 
                                                span.mob_hidden  местности
                            
                            .tabBlock(data-tab-context='#location_switcher')
                                #location_tab_1
                                    .location-block_slider-holder
                                        .location-block_gallery.locationGallery
                                            .location-block_slider.locationSlider
                                                +loop_while(1)
                                                    .slide
                                                        img.mob_hidden(src='images/loc_2.jpg')
                                                        img.dt_hidden(src='images/loc_2_mob.jpg')
                                                        a.slide_zoom.btn_v1.btn_white_transp.mob_hidden(href='#')
                                                            span.zoom_icon
                                                            span Увеличить
                                                    .slide
                                                        img.mob_hidden(src='images/loc_2.jpg')
                                                        img.dt_hidden(src='images/loc_2_mob.jpg')
                                                        a.slide_zoom.btn_v1.btn_white_transp.mob_hidden(href='#')
                                                            span.zoom_icon
                                                            span Увеличить

                                #location_tab_2
                                    .location-block_map-holder
                                        .map-wrapper
                                            img(src='images/big_map.jpg')
                                            
                                #location_tab_3
                                    .location-block_map-holder
                                        .map-wrapper
                                            img(src='images/big_map.jpg')
                                            
                            .location-block_params-w.companyBlock
                                a.company-block_caption-close.collapseBlockBtn.mob_invis(href='#')

                                .location-block_params-table_w
                                    .location-block_params-table
                                        .location-block_param-unit
                                            .location-block_param-caption
                                                span.i-map_pin._clr_turqoise
                                                span Адрес:
                                            .location-block_param-info
                                                p.location-block_name Московская обл.
                                                p Областной центр, адресный район Красногорский район, д. Опалиха, ул. Фруктовая, дом 12
    
                                        .location-block_param-unit
                                            .location-block_param-caption
                                                span._clr_turqoise.i-clock
                                                span время в пути
                                            .location-block_param-info
                                                .location-block_param-station
                                                    p.location-block_name
                                                        span.mb.complex-block_option-icon.i-metro
                                                        span.mb Новослободская
                                                    
                                                    ul.complex-block_options
                                                        li
                                                            .complex-block_option
                                                                span.mb.complex-block_option-icon.i-car
                                                                span.mb 20 мин.
        
                                                        li
                                                            .complex-block_option
                                                                span.mb.complex-block_option-icon.i-bus
                                                                span.mb 35 мин.
        
                                                        li
                                                            .complex-block_option
                                                                span.mb.complex-block_option-icon.i-pedestrian
                                                                span.mb 45 мин.
                                                    
                                                .location-block_param-station
                                                    p.location-block_name
                                                        span.mb.complex-block_option-icon.i-metro
                                                        span.mb Новослободская 2
                                                        
                                                    ul.complex-block_options
                                                        li
                                                            .complex-block_option
                                                                span.mb.complex-block_option-icon.i-car
                                                                span.mb 20 мин.
        
                                                        li
                                                            .complex-block_option
                                                                span.mb.complex-block_option-icon.i-bus
                                                                span.mb 35 мин.
        
                                                        li
                                                            .complex-block_option
                                                                span.mb.complex-block_option-icon.i-pedestrian
                                                                span.mb 45 мин.
                                                
                                        .location-block_param-unit._last
                                            .location-block_param-caption
                                                span.i-helmet._clr_turqoise
                                                span Застройщик и срок сдачи
                                            .location-block_param-info
                                                p.location-block_name ГВСУ ЦЕНТР
                                                p.location-block_name 2 квартал 2018 г.
                                                
                                                ul.complex-block_tags._clr_gray
                                                    li: .complex-tag У реки
                                                    li: .complex-tag Акция
                                                    li: .complex-tag Военная ипотека
                                                    li: .complex-tag Таунхаус
                                                    li: .complex-tag У реки
                                                    li: .complex-tag Акция

                                .location-block_more.mob_vis
                                    .company-block_caption
                                        span.collapseBlockBtn.company-block_caption-link Объекты в комплексе 
                                        a.company-block_caption-close.collapseBlockBtn(href='#')
                                                
                                .company-info_box.infoBlock
                                    .location-block_more
                                        .company-block_caption.mob_invis
                                            span Объекты в комплексе 
                                                
                                        .location-block_features
                                            //-.location-block_col.mob_hidden &nbsp;
                                            //-.location-block_col._mob_col_wide
                                                
                                        .location-block_features._mob_pad
                                            .location-block_col
                                                dl.company-unit_info
                                                    dt._clr_gray-dark Студии
                                                    dd 986
                                                    dt._clr_gray-dark 1КК
                                                    dd 1232
                                                    dt._clr_gray-dark 2КК
                                                    dd 234
                                                    dt._clr_gray-dark 3КК
                                                    dd 195
                                                    dt._clr_gray-dark Квартир в таунхаусах 
                                                    dd 120
                                                    
                                            .location-block_col
                                                dl.company-unit_info
                                                    dt._clr_gray-dark Корпусов - 15
                                                    dd 15
                                                    dt._clr_gray-dark Всего квартир - 2 345
                                                    dd 2 345
                                                    dt._clr_gray-dark Общая площадь
                                                    dd 34 546 кв.м.
                                                
                                        .company-block_caption
                                            span Аккредитация проекта в банках 

                                        .location-block_features
                                            //-.location-block_col
                                            ul.location-block_banks
                                                li
                                                    a.gl_link.mb(href='#')
                                                        img(src='images/bank_1.png')
                                                li
                                                    a.gl_link.mb(href='#')
                                                        img(src='images/bank_2.png')
                                                li
                                                    a.gl_link.mb(href='#')
                                                        img(src='images/bank_3.png')
                                                li
                                                    a.gl_link.mb(href='#')
                                                        img(src='images/bank_4.png')
                                                li
                                                    a.gl_link.mb(href='#')
                                                        img(src='images/bank_5.png')
                                                li
                                                    a.gl_link.mb(href='#')
                                                        img(src='images/bank_6.png')

                                            //-.location-block_col
                                            ul.location-block_docs
                                                li: a.gl_link._clr_turqoise(href='#') Проектная документация
                                                li: a.gl_link._clr_turqoise(href='#') Ход строительства

                        .company-block.companyBlock
                            .company-block_caption
                                span.collapseBlockBtn.company-block_caption-link В продаже
                                a.company-block_caption-close.collapseBlockBtn(href='#')

                            .company-info_box.infoBlock
                                p
                                    span._clr_gray-dark Сейчас у компании: 
                                    span 234 квартиры 
                                    span._clr_gray-dark и 
                                    span 15 таунхаусов

                                .company-unit_info_w
                                    dl.company-unit_info
                                        dt Студии
                                        dd от 1 700 000
                                        dt 1-комнатные
                                        dd от 2 300 000
                                        dt 2-комнатные  
                                        dd от 3 900 000

                                    dl.company-unit_info
                                        dt 3-комнатные
                                        dd от 5 600 000
                                        dt Коммерческие 
                                            span.mob_hidden помещения
                                        dd от 10 300 000
                                        dt Кладовки
                                        dd от 150 000

                        .company-block.companyBlock._info-mode
                            .company-block_caption._mob_caption
                                span.collapseBlockBtn.company-block_caption-link Инфраструктура
                                a.company-block_caption-close.collapseBlockBtn(href='#')
                            .company-block-collapsed_info
                                dl.company-block_options
                                    dt Медицина: 
                                    dd 7

                                    dt Образование:
                                    dd 6

                                    dt Магазины и досуг: 
                                    dd 5

                            .company-info_box.infoBlock
                                ul.location-infrastructure
                                    li
                                        label.check-emul._check-v4
                                            input.inp-hidden(type='checkbox')
                                            span.check-text
                                                span.mb.mob_hidden._icon-on.i-plus_w
                                                span.mb.mob_hidden._icon-off.i-plus
                                                span.mb Мед. учереждения: 2

                                    li
                                        label.check-emul._check-v4
                                            input.inp-hidden(type='checkbox')
                                            span.check-text
                                                span.mb.mob_hidden._icon-on.i-face_w
                                                span.mb.mob_hidden._icon-off.i-face
                                                span.mb Детский сад: 3

                                    li
                                        label.check-emul._check-v4
                                            input.inp-hidden(type='checkbox')
                                            span.check-text
                                                span.mb.mob_hidden._icon-on.i-cart_w
                                                span.mb.mob_hidden._icon-off.i-cart
                                                span.mb Магазин: 12

                                    li
                                        label.check-emul._check-v4
                                            input.inp-hidden(type='checkbox')
                                            span.check-text
                                                span.mb.mob_hidden._icon-on.i-tree_w
                                                span.mb.mob_hidden._icon-off.i-tree
                                                span.mb Парк: 1
                                    li
                                        label.check-emul._check-v4
                                            input.inp-hidden(type='checkbox')
                                            span.check-text
                                                span.mb.mob_hidden._icon-on.i-plus_w
                                                span.mb.mob_hidden._icon-off.i-plus
                                                span.mb Поликлиники: 2

                                    li
                                        label.check-emul._check-v4
                                            input.inp-hidden(type='checkbox')
                                            span.check-text
                                                span.mb.mob_hidden._icon-on.i-cart_w
                                                span.mb.mob_hidden._icon-off.i-cart
                                                span.mb Гипермаркет: 1

                                    li
                                        label.check-emul._check-v4
                                            input.inp-hidden(type='checkbox')
                                            span.check-text
                                                span.mb.mob_hidden._icon-on.i-book_w
                                                span.mb.mob_hidden._icon-off.i-book
                                                span.mb Школа: 3

                                //-.location-infrastructure_total
                                    span: b 2,4 поликлиники на 1000 чел.
                                    span В среднем по Московской области - 3,1 поликлиники на 1000 чел.

                                .company-info_objects-wrapper
                                    .company-info_objects-map._full-width
                                        .map-wrapper
                                            img(src='images/big_map.jpg')

                        .company-block.companyBlock._info-mode
                            .company-block_caption._mob_caption
                                span.collapseBlockBtn.company-block_caption-link Аналитика и цены
                                a.company-block_caption-close.collapseBlockBtn(href='#')
                            p._mob_if_opened Квартира на 5% ниже предложений рядом

                            .company-info_box.infoBlock(style_='display:block;')
                                .object_card-analytics
                                    .object_card-analytic_caption Сравнение этого предложения с 2-комн. квартирами 48-52 кв.м.

                                    .filter-holder.filter-holder-v1
                                        #filter_list.filter-list.text_upper.tabScroller
                                            li.filter-item: a.gl_link(href='#filter_tab_1')
                                                span.middle_block.dt_hidden ср.Щукино
                                                span.middle_block.mob_hidden в среднем по Щукино
                                            li.filter-item: a.gl_link(href='#filter_tab_2')
                                                span.middle_block.dt_hidden застройщ.
                                                span.middle_block.mob_hidden в среднем по СЗАО 
                                            li.filter-item: a.gl_link(href='#filter_tab_3')
                                                span.middle_block.dt_hidden ср. по Москве
                                                span.middle_block.mob_hidden в среднем по Москве

                                        .scrollerTabs(data-tab-context='#filter_list .slick-track')
                                            #filter_tab_1
                                                +prices()

                                            #filter_tab_2
                                                +prices()

                                            #filter_tab_3
                                                +prices()

                                    .object_card-analytic_caption Как изменялись цены на квартиры в этом жилом комплексе

                                    .object_card-graph_holder
                                        .object_card-graph_box-v1
                                            #chart_1.hide_y_axis.hide_x_axis.d3graph.graph_1

                                        .object_card-graph_legend-v1
                                            table.object_card-legend
                                                tr
                                                    th.col_1 Месяц
                                                    th.col_2 Стоимость
                                                    th.col_3 изменение

                                                +loop_while(3)
                                                    tr
                                                        td.col_1 Январь
                                                        td.col_2 3 790 000 руб.
                                                        td.col_3 &nbsp;
                                                    tr
                                                        td.col_1 Февраль
                                                        td.col_2 3 480 000 руб.
                                                        td.col_3
                                                            span.mb 35 000
                                                            span.graph_trend._up
                                                    tr
                                                        td.col_1 Март
                                                        td.col_2 3 240 000 руб.
                                                        td.col_3
                                                            span.mb 45 000
                                                            span.graph_trend._up

                                                    tr
                                                        td.col_1 Апрель
                                                        td.col_2 3 120 000 руб.
                                                        td.col_3
                                                            span.mb -15 000
                                                            span.graph_trend._down


                                    .object_card-analytic_caption Какие новостройки в Щукино
                                        .object_card-graph_holder
                                            .object_card-graph_box-v2
                                                #chart_2.d3graph.graph_2

                                            .object_card-graph_box-v2
                                                #chart_3.d3graph.graph_2

                        .company-block.companyBlock
                            .company-block_caption
                                span.collapseBlockBtn.company-block_caption-link Мнение редакции
                                a.company-block_caption-close.collapseBlockBtn(href='#')
                                
                            .company-info_box.infoBlock
                                .company-info_features
                                    .company-info_features-box._first
                                        .company-info_features-rate
                                            span.feature-label.fl
                                                span Открытость 
                                                span.mob_hidden компании
                                            span.feature-rate.fr
                                                .feature-rate_scale
                                                    div(style='width:80%;')
                                                ._val 4,1

                                        .company-info_features-rate
                                            span.feature-label.fl Надежность
                                            span.feature-rate.fr
                                                .feature-rate_scale
                                                    div(style='width:60%;')
                                                ._val 4,5

                                        .company-info_features-rate
                                            span.feature-label.fl Выбор объектов
                                            span.feature-rate.fr
                                                .feature-rate_scale
                                                    div(style='width:30%;')
                                                ._val 3,8

                                        .company-info_features-rate
                                            span.feature-label.fl Цена/Качество
                                            span.feature-rate.fr
                                                .feature-rate_scale
                                                    div(style='width:20%;')
                                                ._val 4,8
                                                    
                                .review-content
                                    p На территории «Северной долины» в 270 га будут проживать 80 тысяч жителей Санкт-Петербурга. Столько же жителей населяет Люксембург или итальянский город Пиза. На просторной и благоустроенной территории «Северной долины» предусмотрено все для комфортного проживания. На территории «Северной долины» в 270 га будут проживать 80 тысяч жителей Санкт-Петербурга. 
                                    
                                    p Столько же жителей населяет Люксембург или итальянский город Пиза. На территории «Северной долины» в 270 га будут проживать 80 тысяч жителей Санкт-Петербурга. Столько же жителей населяет Люксембург или итальянский город Пиза. На просторной и благоустроенной территории «Северной долины» предусмотрено все для комфортного проживания. На территории «Северной долины» в 270 га будут проживать 80 тысяч жителей Санкт-Петербурга. Столько же жителей населяет Люксембург или итальянский город Пиза. 

                        .company-block.companyBlock
                            .company-block_caption
                                span.collapseBlockBtn.company-block_caption-link Рейтинг комплекса
                                a.company-block_caption-close.collapseBlockBtn(href='#')
                            .company-info_box.infoBlock
                                .company-info_features._mob_view
                                    .company-info_features-box._first
                                        p ЖК "Королев Сити" еще никто не оценивал
                                                
                                    .company-info_features-box._last
                                        a.btn_v1.btn_blue.rate_btn.ratePopupBtn(href='#') Оценить

                        .company-block.companyBlock
                            .company-block_caption
                                span.collapseBlockBtn.company-block_caption-link Отзывы
                                a.company-block_caption-close.collapseBlockBtn(href='#')
                            p 345 отзывов о компании «Главстрой девелопмент»

                            .company-info_box.infoBlock
                                .company-info_reviews
                                    ul.review-list
                                        li
                                            .review-header
                                                .review-author
                                                    a.review-author_avatar(href='#')
                                                        img(src='images/review_author_1.png')
                                                .review-author_name
                                                    a.gl_link._clr_turqoise(href='#') Руслан Иванов
                                                .review-author_date._clr_gray 14.02.2016, 18:22

                                            .review-content
                                                p Люксембург или итальянский город Пиза. На территории «Северной долины» в 270 га будут проживать 80 тысяч жителей Санкт-Петербурга. Столько же жителей населяет Люксембург или итальянский город Пиза. На просторной и благоустроенной территории «Северной долины» предусмотрено все для комфортного проживания.

                                            +review_footer()

                                        li
                                            .review-header
                                                .review-author
                                                    a.review-author_avatar(href='#')
                                                        img(src='images/review_author_1.png')
                                                .review-author_name
                                                    a.gl_link._clr_turqoise(href='#') Евгений Александров
                                                .review-author_date._clr_gray 14.02.2016, 18:22

                                            .review-content
                                                p Люксембург или итальянский город Пиза. На территории «Северной долины» в 270 га будут проживать 80 тысяч жителей Санкт-Петербурга. Столько же жителей населяет Люксембург или итальянский город Пиза. На просторной и благоустроенной территории «Северной долины» предусмотрено все для комфортного проживания. Люксембург или итальянский город Пиза. На территории «Северной долины» в 270 га будут проживать 80 тысяч жителей Санкт-Петербурга. Столько же жителей населяет Люксембург или итальянский город Пиза. На просторной и благоустроенной территории «Северной долины» предусмотрено все для комфортного проживания.

                                            +review_footer()

                                        li
                                            .review-header
                                                .review-author
                                                    a.review-author_avatar(href='#')
                                                        img(src='images/review_author_1.png')
                                                .review-author_name
                                                    a.gl_link._clr_turqoise(href='#') Евгений Александров
                                                .review-author_date._clr_gray 14.02.2016, 18:22

                                            .review-content
                                                p Люксембург или итальянский город Пиза. На территории «Северной долины» в 270 га будут проживать 80 тысяч жителей Санкт-Петербурга. Столько же жителей населяет Люксембург или итальянский город Пиза. На просторной и благоустроенной территории «Северной долины» предусмотрено все для комфортного проживания.

                                                p Люксембург или итальянский город Пиза. На территории «Северной долины» в 270 га будут проживать 80 тысяч жителей Санкт-Петербурга. Столько же жителей населяет Люксембург или итальянский город Пиза. На просторной и благоустроенной территории «Северной долины» предусмотрено все для комфортного проживания. Люксембург или итальянский город Пиза. На территории «Северной долины» в 270 га будут проживать 80 тысяч жителей Санкт-Петербурга. Столько же жителей населяет Люксембург или итальянский город Пиза. На просторной и благоустроенной территории «Северной долины» предусмотрено все для комфортного проживания.

                                            +review_footer()
                                        li
                                            .review-header
                                                .review-author
                                                    a.review-author_avatar(href='#')
                                                        img(src='images/review_author_1.png')
                                                .review-author_name
                                                    a.gl_link._clr_turqoise(href='#') Евгений Александров
                                                .review-author_date._clr_gray 14.02.2016, 18:22

                                            .review-content
                                                p Люксембург или итальянский город Пиза. На территории «Северной долины» в 270 га будут проживать 80 тысяч жителей Санкт-Петербурга. Столько же жителей населяет Люксембург или итальянский город Пиза. На просторной и благоустроенной территории «Северной долины» предусмотрено все для комфортного проживания.

                                                p Люксембург или итальянский город Пиза. На территории «Северной долины» в 270 га будут проживать 80 тысяч жителей Санкт-Петербурга. Столько же жителей населяет Люксембург или итальянский город Пиза. На просторной и благоустроенной территории «Северной долины» предусмотрено все для комфортного проживания. Люксембург или итальянский город Пиза. На территории «Северной долины» в 270 га будут проживать 80 тысяч жителей Санкт-Петербурга. Столько же жителей населяет Люксембург или итальянский город Пиза. На просторной и благоустроенной территории «Северной долины» предусмотрено все для комфортного проживания.

                                            +review_footer()

                                .review-show_more
                                    button.btn_v1.btn_blue.review_btn Показать еще

            +footer()
            
        +popups()
        
