@font-face {
  font-family: 'quartiroom_icons';
  src:  url('fonts/quartiroom_icons.eot?g5anxb');
  src:  url('fonts/quartiroom_icons.eot?g5anxb#iefix') format('embedded-opentype'),
    url('fonts/quartiroom_icons.ttf?g5anxb') format('truetype'),
    url('fonts/quartiroom_icons.woff?g5anxb') format('woff'),
    url('fonts/quartiroom_icons.svg?g5anxb#quartiroom_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'quartiroom_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-helmet:before {
  content: "\e928";
}
.i-user:before {
  content: "\e910";
}
.i-metro:before {
  content: "\e913";
}
.i-pin:before {
  content: "\e915";
}
.i-pano:before {
  content: "\e917";
}
.i-search2:before {
  content: "\e918";
}
.i-pencil:before {
  content: "\e920";
}
.i-plus:before {
  content: "\e923";
}
.i-face:before {
  content: "\e926";
}
.i-cart:before {
  content: "\e929";
}
.i-tree:before {
  content: "\e92e";
}
.i-book:before {
  content: "\e931";
}
.i-pin2:before {
  content: "\e938";
}
.i-check_filled:before {
  content: "\e93a";
}
.i-builder:before {
  content: "\e93c";
}
.i-car:before {
  content: "\e93d";
}
.i-bus:before {
  content: "\e93e";
}
.i-pedestrian:before {
  content: "\e93f";
}
.i-phone2:before {
  content: "\e940";
}
.i-humburger:before {
  content: "\e944";
}
.i-search-thik:before {
  content: "\e90e";
}
.i-close_2:before {
  content: "\e912";
}
.i-sort:before {
  content: "\e914";
}
.i-plus_w:before {
  content: "\e916";
}
.i-face_w:before {
  content: "\e919";
}
.i-cart_w:before {
  content: "\e91a";
}
.i-tree_w:before {
  content: "\e91c";
}
.i-book_w:before {
  content: "\e91d";
}
.i-heart:before {
  content: "\e907";
}
.i-profile:before {
  content: "\e903";
}
.i-building---apartment:before {
  content: "\e900";
}
.i-time---clock-hour:before {
  content: "\e901";
}
.i-interior---sofa-chair:before {
  content: "\e902";
}
.i-chevron_left:before {
  content: "\e92c";
}
.i-chevron_right:before {
  content: "\e92d";
}
.i-chevron-down:before {
  content: "\e904";
}
.i-phone:before {
  content: "\e906";
}
.i-check:before {
  content: "\e911";
}
.i-heart-filled:before {
  content: "\e908";
}
.i-checkmark:before {
  content: "\e90a";
}
.i-chevron-thin-down:before {
  content: "\e909";
}
.i-check-thin:before {
  content: "\e90b";
}
.i-thumbs-o-down:before {
  content: "\e90c";
}
.i-thumbs-o-up:before {
  content: "\e90d";
}
.i-arrow-up:before {
  content: "\e90f";
}
.i-cross:before {
  content: "\e905";
}
.i-map_pin:before {
  content: "\e91b";
}

