@import "variables";

@font-face {
  font-family: 'quartiroom_icons';
  src:  url('#{$icomoon-font-path}/quartiroom_icons.eot?nmdf53');
  src:  url('#{$icomoon-font-path}/quartiroom_icons.eot?nmdf53#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/quartiroom_icons.ttf?nmdf53') format('truetype'),
    url('#{$icomoon-font-path}/quartiroom_icons.woff?nmdf53') format('woff'),
    url('#{$icomoon-font-path}/quartiroom_icons.svg?nmdf53#quartiroom_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'quartiroom_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-search {
  &:before {
    content: $i-search;
  }
}
.i-heart {
  &:before {
    content: $i-heart;
  }
}
.i-profile {
  &:before {
    content: $i-profile;
  }
}
.i-building---apartment {
  &:before {
    content: $i-building---apartment;
  }
}
.i-time---clock-hour {
  &:before {
    content: $i-time---clock-hour;
  }
}
.i-interior---sofa-chair {
  &:before {
    content: $i-interior---sofa-chair;
  }
}
.i-chevron_left {
  &:before {
    content: $i-chevron_left;
  }
}
.i-chevron_right {
  &:before {
    content: $i-chevron_right;
  }
}
.i-chevron-down {
  &:before {
    content: $i-chevron-down;
  }
}
.i-phone {
  &:before {
    content: $i-phone;
  }
}
.i-check {
  &:before {
    content: $i-check;
  }
}
.i-heart-filled {
  &:before {
    content: $i-heart-filled;
  }
}
.i-checkmark {
  &:before {
    content: $i-checkmark;
  }
}
.i-chevron-thin-down {
  &:before {
    content: $i-chevron-thin-down;
  }
}
.i-check-thin {
  &:before {
    content: $i-check-thin;
  }
}
.i-thumbs-o-down {
  &:before {
    content: $i-thumbs-o-down;
  }
}
.i-thumbs-o-up {
  &:before {
    content: $i-thumbs-o-up;
  }
}
.i-cross {
  &:before {
    content: $i-cross;
  }
}
.i-map_pin {
  &:before {
    content: $i-map_pin;
  }
}

