$icomoon-font-path: "fonts" !default;

$i-search: "\e90e";
$i-heart: "\e907";
$i-profile: "\e903";
$i-building---apartment: "\e900";
$i-time---clock-hour: "\e901";
$i-interior---sofa-chair: "\e902";
$i-chevron_left: "\e92c";
$i-chevron_right: "\e92d";
$i-chevron-down: "\e904";
$i-phone: "\e906";
$i-check: "\e911";
$i-heart-filled: "\e908";
$i-checkmark: "\e90a";
$i-chevron-thin-down: "\e909";
$i-check-thin: "\e90b";
$i-thumbs-o-down: "\e90c";
$i-thumbs-o-up: "\e90d";
$i-cross: "\e905";
$i-map_pin: "\e91b";

