$icomoon-font-path: "fonts" !default;

$i-user: "\e910";
$i-metro: "\e913";
$i-pin: "\e915";
$i-pano: "\e917";
$i-search2: "\e918";
$i-pencil: "\e920";
$i-plus: "\e923";
$i-face: "\e926";
$i-cart: "\e929";
$i-tree: "\e92e";
$i-book: "\e931";
$i-pin2: "\e938";
$i-check_filled: "\e93a";
$i-builder: "\e93c";
$i-car: "\e93d";
$i-bus: "\e93e";
$i-pedestrian: "\e93f";
$i-phone2: "\e940";
$i-humburger: "\e944";
$i-search-thik: "\e90e";
$i-heart: "\e907";
$i-profile: "\e903";
$i-building---apartment: "\e900";
$i-time---clock-hour: "\e901";
$i-interior---sofa-chair: "\e902";
$i-chevron_left: "\e92c";
$i-chevron_right: "\e92d";
$i-chevron-down: "\e904";
$i-phone: "\e906";
$i-check: "\e911";
$i-heart-filled: "\e908";
$i-checkmark: "\e90a";
$i-chevron-thin-down: "\e909";
$i-check-thin: "\e90b";
$i-thumbs-o-down: "\e90c";
$i-thumbs-o-up: "\e90d";
$i-arrow-up: "\e90f";
$i-cross: "\e905";
$i-map_pin: "\e91b";

